[2017-07-01 15:59] FezVrasta opened #7 "size badge?"
I know there are already services that provide badges with the bundle size, but I think there's market for a dedicated "bundlesize" badge which may provide more informations compared to the classic ones.

For instance, it would be super cool to have the badge link to a page that keeps track of the size variations during time.

[2017-07-01 16:03] siddharthkp commented on #7
I love it.

One tiny question though, the badge should show the **published** version's size, not the one in the master branch.

Any idea on how to handle that? A postpublish hook might work 🤔

[2017-07-01 16:04] FezVrasta commented on #7
On my project page I make the badge read the size from unpkg.com, but I see how this could not be an ideal solution.

[2017-07-01 16:08] siddharthkp commented on #7
Let me think about it, this is definitely something that is useful.

[2017-07-01 16:11] FezVrasta opened #9 "Show "in progress" status in PRs?"
Right now I see the bundlesize report only when the PR is completed. I'd love to see it in "yellow" while the build is still proceeding.

Maybe add a `bundlesize start` command to run before any other build command to notify the PR about this check?

The `test` script would look like this:

[code]

[2017-07-01 16:17] siddharthkp commented on #9
`bundlesize` does add a pending build but it's pretty fast so you almost never see it 😋

I can totally add a explicit command to start the build. Not sure if it would be useful though

[2017-07-01 16:20] FezVrasta commented on #9
I see what you mean, but the thing is that if I run `bundlesize` before I run my tests & build, it will never find the bundle file.

So my `test` script is:

[code]

Because I first run the tests, then I create a build and then `bundlesize` can read the size of it.

While I wait for `test` and `build` to complete, there's not a bundlesize "in progress" badge

[2017-07-01 16:21] siddharthkp commented on #9
Yep, I totally get that.

Tell you what, I'll add it if > 5 people want it. That's fair? 😄

[2017-07-01 17:48] siddharthkp opened #12 "Support CircleCI"
1. Create a file similar to the one [for travis](https://github.com/siddharthkp/bundlesize/blob/master/src/travis.js) that holds variables for circle.

2. Decide which CI to pick based on environment variables set by them in [build.js](https://github.com/siddharthkp/bundlesize/blob/master/src/build.js#L2)

[2017-07-01 17:49] siddharthkp commented on #12
@Furizaa this will help.

[2017-07-01 19:49] siddharthkp opened #14 "More obvious name for upper limit/threshold"
`Threshold` feels like it's the delta, whereas we need an absolute amount, `max size`?

[2017-07-01 20:22] #12 closed

[2017-07-01 21:59] Furizaa opened #16 "Idea: Remove the need for Firebase store"
I thought about the fact that the tool sends the bundle size information to a Firebase store to make comparisons across builds and how that can pull off possible users. I then began to search for alternatives - and I think I have found one:

For simple cli usage a run could simply store the result as a JSON file that compares against itself on rerun. Nothing special here.

When the tool is ran on

[2017-07-01 22:16] siddharthkp commented on #16
what's the problem you're trying to solve?

If the file doesn't live in the repo, might as well be in firebase /shrug

[2017-07-02 09:41] siddharthkp commented on #16
Why would that be? The user does not have to sign up for firebase. bundlesize internally uses firebase

[2017-07-02 09:50] Furizaa commented on #16
Nah it's OK. After thinking about it some more I now also see the possibilities this could offer. Like a service that plots bundle size over time and whatnot. The only problem I still see is that it's a external point of failure that could break the build in case if it's offline. But I don't think that is a big problem and can be circumvented by failing gracefully.

[2017-07-02 09:50] #16 closed

[2017-07-02 09:53] siddharthkp commented on #16
that's what i have my eyes on 👀

so is your CI environment (travis/circle), I have taken the assumption that these CI will always have internet, hopefully that works out fine.

[2017-07-02 12:58] chauffer opened #19 "Support GitLab CI"
https://docs.gitlab.com/ce/ci/

[2017-07-03 05:59] bfred-it commented on #7
If the file is in the repo, you can already use this (with a gzip option as well): https://github.com/exogen/badge-matrix#sizesourcepath

Example:

![](https://badges.herokuapp.com/size/github/bfred-it/iphone-inline-video/master/dist/iphone-inline-video.min.js?gzip=true&label=gzipped%20size)

[code]

[2017-07-03 06:00] reznord commented on #14
@siddharthkp I'd like to take this

[2017-07-03 06:08] bfred-it opened #21 "Keep the size in check, without limiting it"
I love easily keeping track of a build size, but I don't necessarily need a low limit (e.g. for a Web Extension) that would force us to make dumb choices (i.e. change the code to be lighter but less readable) just to get a ✅

I _could_ set a high limit but seeing `30KB < 500KB threshold` feels like it's a race to reach it 😄

What if it always passed the build and just showed `careful, 30% larger t

[2017-07-03 09:20] siddharthkp commented on #21
can you elaborate a little? this is my default solution, right now

[2017-07-03 09:22] siddharthkp commented on #14
Ideas on name?

[2017-07-03 09:28] bfred-it commented on #21
I may be wrong but it can be read as: _"It's only 6% its maximum weight, don't worry about making it heavier"_

[2017-07-03 09:30] reznord commented on #14
`maxSize` makes total sense in this case.

[2017-07-03 09:53] siddharthkp commented on #14
cool, go for it!

please keep backward compatibility in code but remove it from docs :)

[2017-07-03 09:57] siddharthkp commented on #21
ah, gotcha!

[2017-07-03 13:18] romainneutron opened #22 "Support for Jenkins"

[2017-07-03 15:16] siddharthkp commented on #22
@romainneutron, i would love to add support for Jenkins, can you identify the environment parameters that are used in `src/environment.js` and how to test them.

[2017-07-03 16:46] enapupe opened #24 "bundle name is unknown"
Hey, I really like where this project is going. Thanks for doing it.

I want to ask if there's any way to deal with unknown bundle file names because I'm using webpack and my bundle files are hashes.
I also have another constraint: I currently generate 2 JS files - vendor and app specific.

Also, my test script is custom and has other commands how would I configure it to work with bundlesize?
Than

[2017-07-03 17:01] siddharthkp commented on #24
Yes, `bundlesize` uses [`glob`](https://github.com/isaacs/node-glob) inside, so you can use

[code]
or something more specific, like "dist/home-*.js"

[2017-07-03 17:02] siddharthkp commented on #24
Although I don't know how well will it play with github status, worth a try though. Let me know if it doesn't work as expected.

[2017-07-03 17:03] siddharthkp commented on #24
You just need to run `bundlesize` as a shell command. If you can show me your code, I'll be helpful

[2017-07-03 17:05] enapupe commented on #24
Maybe I could run it as a circleci custom step?

[2017-07-03 17:07] siddharthkp commented on #24
Yep, that totally works.

[2017-07-03 17:09] siddharthkp commented on #24
If you want to run it programmatically through your code, you can probably just do this:

[code]

This should work as long as you run it from in the root directory.

[2017-07-03 17:59] enapupe commented on #24
Oh I guess I got it now..
It's basically a tool that checks file size (after gzip) against a predefined threshold. If it exceeds the threshold it exits with 1.

I think that in my case I'd have to do it within my Dockerfile because that's the only place I actually build the front-end application.
Thanks!

[2017-07-03 19:06] siddharthkp commented on #24
Yep

[2017-07-03 19:06] #24 closed

[2017-07-03 21:48] siddharthkp commented on #19
@chauffer, I have not used gitlab, can you guide me towards their status APIs?

From what I understand, gitlab has it's own CI, which will come in handy.

[2017-07-03 21:49] #14 closed

[2017-07-03 22:09] siddharthkp opened #27 "Help in identifying reason for increase in size"
Having insights into why is the library size growing would be really helpful. If the increase can be traced back to the source, it would be great.

As @ai puts it:

One of the possible solutions here is using webpack bundle analyser (again, thanks to @ai)

[2017-07-04 14:31] alexanderepstein opened #29 "Become a github tool"
I would love to use this as a tool for all most of my repositories even the ones that are not written in js.
Would it be possible to transform this tool into something that would appear here https://github.com/marketplace similar to the Travis CI for Codacy.

For example I would love to use this to get updates on bundlesize in a repository with shell scripts but don't want to add node modules to t

[2017-07-04 14:40] siddharthkp commented on #29
That's a very interesting point. I will definitely look into it.

[2017-07-04 15:13] hzlmn commented on #27
Using `webpack` is very limited approach as for me. Cuz what lib was bundled with `closure-compiler` or `rollup` or `browserify` etc. ? Each has own bundle style and add some runtime helpers, it will be just useless for such cases.

[2017-07-04 16:51] reznord commented on #21
@bfred-it I'll explain what I understood from the discussion. Please correct me if I'm wrong.

So, right now when we include integrate bundlesize in travis, it is showing like this:

This kinda sounds like a warning (Your bundle is reaching the maxSize limit).

What you are saying is, instead of making the showing the message like this, make the message more friendly saying:

"It's only 6% of its

[2017-07-04 17:10] siddharthkp commented on #21
This was meant to be sarcasm 😄

[2017-07-04 17:12] siddharthkp commented on #21
What @bfred-it was saying was, he does not want an absolute limit as it will make people write bad code just to make the tests pass.

However, he does see value in comparison with master. It's a good way of making sure you don't end up introducing bloat by accident.

[2017-07-04 17:29] reznord commented on #21
Yeah, I understood that part. :P
In my opinion, it is better to make the message a bit more readable (instead of default 😛 )

[2017-07-04 19:34] kentcdodds opened #30 "Issue with 404s and repeat requests?"
See [this build](https://travis-ci.org/paypal/glamorous/builds/250103307), I'm unsure what's up...

[2017-07-04 19:41] siddharthkp commented on #30
I think I've seen this before. Your token is not a valid one. Are you sure the token you're using has access to the `paypal` org?

[2017-07-04 19:44] kentcdodds commented on #30
Ah, you know what, it might not... I'll have to look into that. Thanks!

[2017-07-04 20:04] Furizaa commented on #30
I came across this too. In fact my Circle build kinda DDOS'ed the API for a hour. I didn't found the culprit exactly but I've added a test for this case that passes. So my hope is that the refactoring I did for the tests caught this by accident.

https://github.com/siddharthkp/bundlesize/pull/20/files#diff-56b8b9382242b82de0cad2cd9a03fc0dR82

[2017-07-04 20:41] chauffer commented on #19
@siddharthkp for the most part, it's simply Docker containers, where exit code != 0 is failure.

Some env vars are available, fwiw: https://docs.gitlab.com/ce/ci/variables/README.html

What other information would you need? Happy to jump on gitter or something to help out :D

[2017-07-05 01:28] bfred-it commented on #21
@reznord no no, no one wants to make bundles bigger! 😅

The copy change would be a separate issue, I'm only advocating for an **option** not showing the upper limit:

* `"maxSize": "4 Kb"`: `./dist.js: 3.6Kb < threshold 4Kb (0.2Kb larger than master, careful!)`
* `"maxSize": undefined`: `./dist.js: 3.6Kb (0.2Kb larger than master, careful!)`

[2017-07-05 02:27] reznord commented on #21
That's already been taken care of!!!

Will be pushing the remaining required changes today!!

_Sent from my OnePlus ONEPLUS A3003 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-05 02:59] siddharthkp commented on #19
Thanks, this helps.

I'm not sure what's the best way to test this 🤔

I'll create a fork on gitlab?

[2017-07-05 09:24] leggsimon opened #32 "`threshold null gzip` error"
I've noticed that the docs use `maxSize` in the config, since the tagged release hasn't happened yet to change the internals to use `maxSize` it uses `threshold` instead. Giving an error like this
[code]
To fix change the property in your `package.json` to from `maxSize` to `threshold`.

Just popping this here for anyone getting the error.

[2017-07-05 09:27] reznord commented on #32
@leggsimon you can still use threshold value too !! In the `README`, it has been removed.

Backward compatibility is still there.

[2017-07-05 09:30] siddharthkp commented on #32
@reznord, this is my bad.

I haven't published your change to npm

[2017-07-05 09:30] leggsimon commented on #32
In the `v0.6.1` tag it hasn't got backwards compat. https://github.com/siddharthkp/bundlesize/blob/v0.6.1/src/files.js#L13

[2017-07-05 09:32] leggsimon commented on #32
Looks like a good project though! Keen to see where it goes and maybe help out along the way.

Also, obviously feel free to close this issue once the change is published.

[2017-07-05 09:33] reznord commented on #32
@siddharthkp I've fixed this after you released `0.6.1`. So, no worries :)

I think bundlesize can get a next version, since there are a few fixes :D

[2017-07-05 09:33] siddharthkp commented on #32
For now, I'm undoing your changes in the README.

Will push a new version soon.

[2017-07-05 09:34] siddharthkp commented on #32
@leggsimon Sorry for that! You can use `threshold` for now 😄

[2017-07-05 09:34] #32 closed

[2017-07-05 09:34] siddharthkp commented on #32
Yeah, there are some that I haven't tested yet. Soon, I promise!

[2017-07-05 09:57] leggsimon opened #33 "CLI config"
What are your thoughts on adding config via a CLI as an alternative to using `package.json`. We'd love to start using this on our apps but would rather not have to update each apps' `package.json`?

I'd be happy to attempt a PR but want to know your thoughts?

[2017-07-05 10:03] siddharthkp commented on #33
I'm in for a different format of config.

CLI params might not be the best idea because there's a bunch of information you can give (multiple files, etc.)

Having a `bundlesize.config.json` could be one approach. `.bundle.yml` if you want a nicer name 😄
Not sure if that solves your problem though, Adding a block to `package.json` vs copy pasting new file is pretty much the same.

However, it does

[2017-07-05 12:10] leggsimon commented on #33
So thinking of some other tools that have a few ways of configuring it, there seems to be a sort of option of
 a. `package.json` properties (as bundlesize currently uses)
 b. `.config.yml` or `.config.json`
 c. CLI args
For simple things you could use CLI but then when you want more config you can move to a or b to make it less bloated.
I think CLI is good for simple config like
[code]

[2017-07-05 17:23] wbeard commented on #22
@siddharthkp I'm interested in helping here. I have a project at work that builds via Jenkins. I'd like to start displaying bundle/chunk sizes in our PRs, so ideally a `bundlesize` job could be triggered by a PR then run in jenkins and send back results to the PR.

Are there any known issues with private repos?

[2017-07-05 17:39] siddharthkp commented on #33
Okay, I'm sold

[2017-07-05 17:40] siddharthkp commented on #22
@wbeard nope, should work as long as you have a token with access to the private repo

[2017-07-05 17:43] wbeard commented on #22
@siddharthkp from first glance, Jenkins may be tricky. I've found some mappings from jenkins environment vars to the vars needed in `environment.js`, but they change depending on what set of plugins you're using. I'll try to open up a PR and see if I can test the changes on my side later today.

[2017-07-05 17:44] wbeard commented on #22
Also, I really like what you're doing here. I've had some similar ideas around this. Would love to chat! I'm on twitter if you want to dm @thewillbeard.

[2017-07-05 18:20] tizmagik opened #36 "GZIP Sizes"
First, thanks for this, this is great! ✨

Curious if you'd be open to a PR that would allow for reporting on GZIP sizes instead of/in to just the Disk Size kb? Perhaps using something like [gzip-size](https://github.com/sindresorhus/gzip-size)

[2017-07-05 18:25] siddharthkp commented on #36
Fun thing, bundle size already uses gzip-size.

I see that the docs are not explicit about that, I'll add that

[2017-07-05 18:34] tizmagik commented on #36
Oh, sweet. Thanks!

[2017-07-05 18:34] #36 closed

[2017-07-05 21:22] tizmagik opened #38 "Notify on bundle size *decrease*?"
Let's say bundle.js starts at 50KB, so we set threshold to 55KB. Then, some incredible PR comes in and reduces the bundle to 40KB -- that's great! 😃  But, now our threshold is still at 55KB 😢

Ideally we'd like to know about this and be reminded to update the bundlesize threshold to something better, like 45KB, for example.

Thoughts?

[2017-07-05 21:25] kumar303 opened #39 "Support webpack filenames that include chunkhash"
We output our asset files using webpack with a filename like `[name]-[chunkhash].js`; this looks like `amo-581f1494a4fa6d00f237.js`. Is there a way to use bundlesize to track this? I couldn't think of a way to do this from your README.

[2017-07-05 21:25] leggsimon commented on #33
Mind if I have a go at this then?

[2017-07-05 21:26] tizmagik commented on #39
We were able to do this in our project by setting the filename like so: `amo-*.js` -- seemed to work.

cc, @montmanu

[2017-07-05 21:41] kumar303 commented on #39
ok, thanks. That started working but we also have locale bundles (e.g. `amo-i18n-fr-c040d4156308916c9f3c.js`) that I'd like to track separately. I guess I can get creative with the prefixes to make it work.

[2017-07-05 23:19] montmanu commented on #39
could also get creative with the glob pattern.. see https://github.com/isaacs/node-glob for the various pattern options..

[2017-07-06 01:07] ankibalyan commented on #39
@siddharthkp I'm trying something on this, will get a PR.

[2017-07-06 03:59] siddharthkp commented on #33
Go for it!

[2017-07-06 04:06] siddharthkp commented on #39
@montmanu is right, `bundlesize` already uses [glob](https://github.com/isaacs/node-glob), so you can give filenames like `name-*.js`. It will pick each file separately.

@kumar303 In your case, you can use `amo-i18n-fr-*.js` and `amo-i18n-in-*.js` as 2 different blocks as well if you want different sizes for them, or just merge them into one with `amo-18n-*.js` which will give you:

[code]

[2017-07-06 04:10] siddharthkp commented on #38
`bundlesize` does inform you about decrease in size as well. You would see something like this on your terminal/github status:

` PASS  ./dist.js: 40kB < threshold 55kB gzip (10kB smaller than master, good job!) `

That should be in indicator to improve your threshold.

[2017-07-06 04:11] siddharthkp commented on #33
@leggsimon I think we should skip option b for now (`config.yml`) and only implement CLI params

[2017-07-06 05:45] ankibalyan commented on #39
@siddharthkp I've update README.md  in PR just to be clear for one to configure multiple and grouped paths.

you can add that for ease :)

[2017-07-06 07:55] denkristoffer opened #41 "Error: Request failed with status code 500"
Hi, we're trying to set up bundlesize with our CI but on every build we're seeing this `Error: Request failed with status code 500`.

This is what it's complaining about:

[code]

Our GH repo does have a dot in the name but since [popper.js](https://github.com/FezVrasta/popper.js) is listed as currently using bundlesize I've assumed that this isn't the real cause of the issue here?

[2017-07-06 08:04] siddharthkp commented on #41
Ooh that's interesting.

Let me test it out

[2017-07-06 14:53] kumar303 opened #43 "bundlesize.ci from GitHub auth request doesn't resolve"
When bundlesize requests read/write access via GitHub, the application metadata lists https://bundlesize.ci which does not resolve. Maybe that link needs to be updated?

[2017-07-06 15:44] siddharthkp commented on #43
Fixed that!

[2017-07-06 15:44] #43 closed

[2017-07-06 15:45] siddharthkp commented on #39
@kumar303 I'll close this issue then. Feel free to comment (and reopen) if it doesn't work for you.

[2017-07-06 15:45] #39 closed

[2017-07-06 16:03] kumar303 commented on #39
Thanks! The README example you added is exactly what I was missing.

[2017-07-06 16:08] kumar303 commented on #43
https://bundlesize.ci/ still doesn't resolve for me. What was the fix?

[2017-07-06 16:25] siddharthkp commented on #43
`https://bundlesize.ci` doesn't really exist

Changed the url to the project on github :P

[2017-07-06 16:39] montmanu opened #47 "Server implementation of `api.set` seems to ignore multiple files"
we currently include 4 separate file blocks in our `bundlesize` config.. when [`api.set(values)`](https://github.com/siddharthkp/bundlesize/blob/master/src/reporter.js#L55) is executed with multiple files, only the first seems to be persisted.. our response for `https://bundlesize-store-iothfynuyu.now.sh/values?repo=${environment.repo}&token=${environment.token}` includes only the first item of th

[2017-07-06 17:03] siddharthkp commented on #47
Yes, you're right.

That was intentional at the time, the message would not look nice. I should fix that.

[2017-07-06 19:10] kentcdodds commented on #30
We've authorized bundlesize with PayPal:

<img width="1012" alt="screen shot 2017-07-06 at 11 22 42 am" src="https://user-images.githubusercontent.com/1500684/27928368-2704112c-624c-11e7-939c-9b4d209eed17.png">

But it's still [not working](https://travis-ci.org/paypal/glamorous/builds/250866933) (appears to be the same issue as before). I think there are two issues here that should be dealt with:

[2017-07-06 20:00] siddharthkp commented on #30
Reopening the issue. I'll debug this with a dummy private repo

[2017-07-06 20:06] kentcdodds commented on #30
That's very kind of you. Thanks!

[2017-07-06 22:23] chauffer commented on #19
yep, probably good enough as gitlab.com has free shared runners :D

[2017-07-06 23:08] tizmagik commented on #38
Oh awesome! Sorry, was just looking at the [comment block here](https://github.com/siddharthkp/bundlesize/blob/master/src/reporter.js#L18-L22) and didn't actually read through the conditional logic. This is great, thanks!

[2017-07-06 23:08] #38 closed

[2017-07-07 08:04] echo304 opened #48 "Guide for the contributors"
I really want to contribute to this project and have an idea to improve some feature, because my team in Tapjoy started to use it for small project.
But I'm not sure how to build and test on my local machine. So it would be super helpful if you add some guide for the contributors.
And I appreciate for your effort!

[2017-07-07 09:15] siddharthkp commented on #48
Yes, will do!

I'm a little busy week. Will add it early next week

[2017-07-10 01:17] Daniel15 opened #52 "Automatically track all CircleCI artifacts"
Rather than having to manually specify the files to track in the `package.json`, it would be nice to be able to automatically track all files that are saved as artifacts in CircleCI and compare them to the most recent master build.

[2017-07-11 02:06] mmahalwy opened #53 "Globbing for filename"
We tend to have a hash generated with filename, thus:
`main-SOME_RANDOM_HASH.js`

[2017-07-11 10:30] siddharthkp commented on #53
Hey, `bundlesize` already supports that 😄

Just added that to the README: https://github.com/siddharthkp/bundlesize/blob/master/README.md#configuration

[2017-07-11 10:44] siddharthkp commented on #53
Closing this issue. Feel free to reply back if this doesn't solve your problem.

[2017-07-11 10:46] #53 closed

[2017-07-11 10:48] siddharthkp commented on #52
That's pretty cool! I did not know circleCI could do that.

However, adding this feature would make things very specific to CircleCI. `bundlesize` can be used on your local machine as well.

I'm not sure if that's a good idea for the code. Could be useful as a plugin if you're interested in building it.

[2017-07-11 11:18] siddharthkp commented on #48
@echo304 There you go: https://github.com/siddharthkp/bundlesize/blob/master/CONTRIBUTING.md

Thanks for pointing this out 😄

[2017-07-11 11:18] #48 closed

[2017-07-11 12:17] echo304 opened #55 "Show test result for multiple files"
I use bundlesize for my team's project and add multiple files for the testing.
Unfortunately we got simple log not the result for whole multiple files.
<img width="573" alt="2017-07-11 9 17 44" src="https://user-images.githubusercontent.com/16456651/28067955-6e437ca4-667e-11e7-9415-b3329ba0e96a.png">

How about make it support for multiple file logging?

[2017-07-11 12:29] siddharthkp commented on #55
Yeah, if there are multiple files that changed, bundlesize falls back to a generic message.

These are the possible solutions in my head:

- Show multiple status messages - one for each file: Could get out of hand pretty fast for applications.
- Link to the CI build logs: Not sure if I can get the exact line number from all the supported CI environments
- Store this data in firebase and build a UI

[2017-07-11 12:34] reznord opened #56 "bundle-buddy integration"
It would be great to add [bundle-buddy](https://github.com/samccone/bundle-buddy) to bundlesize to give more insights into the bundle (which all packages are eating more and which package are using same resources.

@siddharthkp any suggestions?

[2017-07-11 12:34] echo304 commented on #55
I agreed on option 3, too and want to tackle it. But It seems that I'm not able to work and test on API part(`./store/**`) of the source code.

[2017-07-11 12:59] siddharthkp commented on #55
@echo304 Yeah, you'll have to do a parallel setup.

This is something that I am going to pick up real soon 😎

[2017-07-11 13:00] siddharthkp commented on #56
Super useful for https://github.com/siddharthkp/bundlesize/issues/27

Thanks for pointing this out!

[2017-07-11 13:01] siddharthkp commented on #56
I'm not sure if this should be part of the core or as a plugin 🤔

[2017-07-11 13:02] reznord commented on #56
making this a part of the code doesn't harm though !! Since everyone may be interested in seeing the results :D

[2017-07-11 18:29] mmahalwy commented on #53
Baller! Thanks a bunch :)

[2017-07-13 18:57] siddharthkp commented on #30
Hey, I've added a debug mode in `0.9.0`.

Can you try that out and with `bundlesize --debug` and send me the logs 😄

[2017-07-13 18:57] siddharthkp commented on #41
Hey, I've added a debug mode in `0.9.0`.

Can you try that out and with `bundlesize --debug` and send me the logs 😄

[2017-07-13 19:18] siddharthkp commented on #41
Fixed that in `bundlesize@0.9.2`

[2017-07-13 19:18] #41 closed

[2017-07-13 19:40] siddharthkp commented on #21
Implemented in https://github.com/siddharthkp/bundlesize/pull/65 (`bundlesize@0.10.0`)

[2017-07-13 19:40] #21 closed

[2017-07-13 19:41] siddharthkp commented on #21
@FezVrasta @bbenezech @bfred-it You guys would like this ^

[2017-07-13 19:42] siddharthkp commented on #33
Implemented in https://github.com/siddharthkp/bundlesize/pull/60

[2017-07-13 19:42] #33 closed

[2017-07-13 19:43] siddharthkp commented on #27
Another possible solution: Integrate with uld [bundle-buddy](https://github.com/samccone/bundle-buddy)

[2017-07-13 19:43] siddharthkp commented on #56
Maintaining this agenda in https://github.com/siddharthkp/bundlesize/issues/27

[2017-07-13 19:43] #56 closed

[2017-07-13 20:05] siddharthkp commented on #9
@FezVrasta You got your 5 votes, so here it is 😄

`bundlesize` ships 2 commands now: `bundlesize` and `bundlesize-init`

You can run `bundlesize-init` first, that will set a pending status on the build.
Then build your bundles, and call `bundlesize`.

This is published in `bundlesize@0.11.0`

[2017-07-13 20:06] #9 closed

[2017-07-13 20:23] FezVrasta commented on #9
Cool thank you. I'll give it a try

[2017-07-13 20:25] FezVrasta commented on #27
What about packages that use different bundlers like Rollup?

[2017-07-13 20:30] siddharthkp commented on #27
That's just a possibility. I haven't really found the right solution yet.

Open to ideas 😄

[2017-07-14 00:53] kentcdodds commented on #30
Boom, it's magically working now! https://travis-ci.org/paypal/glamorous/builds/253438758

[2017-07-14 00:53] kentcdodds commented on #30
Thanks a ton for all the hard work you put into this :smile:

[2017-07-14 06:05] siddharthkp commented on #30
lolwut!

might be some other bug that I ended up fixing 😀

[2017-07-14 13:58] rickhanlonii commented on #55
@siddharthkp for v1 you could probably store the files/sizes in the URL and create a simple page that displays the per-file info based on the URL, then you wouldn't need to upload to firebase with every build

i.e. POST to GitHub:

[code]

Query params are `filenname=expected,actual`. I think that gives you all the data you need to show the report. Of course, you're limited by URL length in the nu

[2017-07-14 14:15] siddharthkp commented on #55
That's a great idea. Can probably encode the data to fit in more within a url.

Although, I do my eyes on building a time series graph as well, so storing the data in fire base will be the first step towards that.

[2017-07-14 15:13] siddharthkp commented on #55
@rickhanlonii whoops, I was completely wrong. Time series data only matters on `master`.

So, I'm going to go with your approach for build details. Thanks for the idea 💙

[2017-07-14 17:00] rickhanlonii commented on #55
Yeah that makes sense, no sweat!

[2017-07-15 05:25] Daniel15 commented on #52
Most good CI systems have some way of archiving artifacts. AppVeyor supports it, as does Jenkins. Having plugins for the most popular CI systems, or supporting them out-of-the-box, would be a good idea IMO.

[2017-07-15 05:25] Daniel15 commented on #52
Most good CI systems have some way of archiving artifacts. AppVeyor supports it, as does Jenkins. The tricky thing is that they all have their own custom APIs. Having plugins for the most popular CI systems or supporting them out-of-the-box would be a good idea IMO, as that's how I imagine most people would integrate this into their build.

[2017-07-15 05:32] Daniel15 commented on #22
I think you'd need to have an actual Jenkins plugin that executes the bundle size script in order to get the best integration experience. A Jenkins plugin could display the information directly on the permalink page for the build, or as an option in the sidebar.

[2017-07-15 05:53] siddharthkp commented on #22
@Daniel15,

I don't know how Jenkins works 😓

From what you're saying, anyone can make a plugin that runs the bundlesize cli, right?

Is it possible to add github status as well? As long as commit sha and github token is exposed, we should be good

[2017-07-15 05:55] siddharthkp commented on #52
That would be cool, would make the setup pretty easy.

I don't think I can invest time in this right now, you can pick it up if you like 🙂

[2017-07-15 05:55] Daniel15 commented on #52
I don't have time to work on it either, unfortunately :( I'm already working on too many projects

[2017-07-15 05:58] siddharthkp commented on #52
😀

keeping this open for someone to grab it

[2017-07-15 12:52] wbeard commented on #22
@Daniel15 I think you're right. I got it working w/ Github Pull Request Builder, which was cool, but it doesn't have a good way to display the output of bundlesize back to the commit status.

[2017-07-15 18:19] siddharthkp commented on #47
@montmanu Please upgrade bundlesize to latest version 😄  This issue is fixed.

[2017-07-15 18:19] #47 closed

[2017-07-15 22:40] siddharthkp commented on #55
@echo304 @rickhanlonii Great news, just launched details page for multiple files

<img width="1000" alt="screen shot 2017-07-16 at 4 08 53 am" src="https://user-images.githubusercontent.com/1863771/28243103-9043fa7a-69dc-11e7-985d-d81b9464dbba.png">

Upgrade to bundlesize@0.12.0 😄

[2017-07-15 22:40] #55 closed

[2017-07-16 04:33] nitish24p commented on #7
Preact has a gzip size badge. Wondering if aomething similar can be used..

[2017-07-16 14:42] rickhanlonii commented on #55
Woah! Very cool!!

[2017-07-17 14:33] axe312ger opened #71 "Why do you need access to my private repositories?"
Hey there,

great tool, I'd love to but I can not use it:

My employer has also private, non-public code in the GitHub organization. I would love to use this tool's GitHub integration to display the bundle size nicely with every open source PR we get.

But, I am not allowed to activate the integration, since it ask's for full private repository access.

Why do you need that access by default? Is t

[2017-07-17 14:49] siddharthkp commented on #71
Hey Benedikt, thanks for the well detailed out question.

1.

I think that's a misunderstanding, bundlesize does not need _full private repository access_, it only asks permissions for `repo:status`

From [github docs](https://developer.github.com/apps/building-integrations/setting-up-and-registering-oauth-apps/about-scopes-for-oauth-apps/), this is what it means:

2.

bundlesize adds a build stat

[2017-07-17 15:26] axe312ger commented on #71
Thank you, will discuss it with them :)

[2017-07-17 15:36] pxlpnk commented on #71
Hey,

as the reviewer in some organizations only sees this screen:
![application_access_policy](https://user-images.githubusercontent.com/164718/28276138-4d8ab292-6b16-11e7-8bf8-5e30fb7effaf.png)

It could make sense to use the bit of text to explain (or have a link to an explanation) the required permissions. I have seen circle and others do that.

This would allow the reviewer to get a better un

[2017-07-17 16:28] siddharthkp commented on #71
Ah, I haven't seen this screen. Thanks @pxlpnk!

Updated the description on github oauth settings

[code]

[2017-07-17 16:47] #71 closed

[2017-07-17 18:43] pxlpnk commented on #71
Thank you 🙇

[2017-07-18 02:34] montmanu commented on #47
Thanks @siddharthkp!

[2017-07-18 07:35] axe312ger commented on #71
Thanks <3

[2017-07-20 08:27] axe312ger commented on #7
Preact uses http://badgesize.io/ which ends up in an empty page. But the service looks great!
[code]
turns into
[![gzip bundle size](http://img.badgesize.io/https://unpkg.com/contentful-management/dist/contentful-management.min.js?compression=gzip
)](https://unpkg.com/contentful-management/dist/contentful-management.min.js)

:)

Watching here, since I prefer a solution from `bundlesize` :)

[2017-07-20 08:45] siddharthkp commented on #7
@axe312ger @nitish24p The thing which makes unpkg a better source is that it pulls the file from the npm registry, bundlesize only knows what's on github, now what's published

This can be solved with a postpublish hook which tells bundlesize the sha for the published version. I imagine the command to be something like this:

[code]

[2017-07-20 09:03] siddharthkp commented on #29
Whoops, they turned it down.

This is from the docs:

   GitHub Apps should have a minimum of 250 installations.

[2017-07-20 10:16] jazlalli opened #72 "Long bundle path causes truncation of text in GitHub UI"
As you can see from the screenshot below

![screen shot 2017-07-19 at 18 11 50](https://user-images.githubusercontent.com/1867746/28412414-11c9aa9c-6d3c-11e7-9d64-3d02df010843.png)

Perhaps only showing that last directory and the filename, prefixed with `...` would be better, as the most useful information follows that. The full path could be shown when hovering over the summary.

If you have a s

[2017-07-20 10:51] siddharthkp commented on #72
Sounds good@

[2017-07-22 13:46] FezVrasta opened #75 "500 error?"
https://travis-ci.org/FezVrasta/popper.js/builds/256016144#L1702

Ideas?

[2017-07-22 14:08] siddharthkp commented on #75
Oh yeah, this issue existed in an initial version. Because you're caching `node_modules` on travis, you didn't get the upgrade.

Raised a pull request - https://github.com/FezVrasta/popper.js/pull/358

[2017-07-22 14:08] #75 closed

[2017-07-22 14:08] siddharthkp commented on #75
Feel free to comment back if that doesn't fix it and I'll reopen the issue 😄

[2017-07-22 14:14] FezVrasta commented on #75
Cool doing so it works, but I get this:

https://travis-ci.org/FezVrasta/popper.js/builds/256375041#L1536

even if I have the `github_token` set:
![image](https://user-images.githubusercontent.com/5382443/28491885-dc48d294-6ef8-11e7-83f8-966f203112ce.png)

[2017-07-22 14:15] FezVrasta commented on #75
Nevermind, looks like you change the name of the token from `github_token` to `BUNDLESIZE_GITHUB_TOKEN`

[2017-07-22 14:21] FezVrasta commented on #75
Me again.. I added the token with the right name and I'm still getting that warning :-(

![image](https://user-images.githubusercontent.com/5382443/28491941-c5184f04-6ef9-11e7-83cf-9600b78edde0.png)

[2017-07-22 14:35] siddharthkp commented on #75
`github_token` should also work. It's backward compatible.

I'm out at the moment, I'll definitely check once I'm back home

[2017-07-24 23:48] kentcdodds commented on #30
It appears to be broken again: https://travis-ci.org/paypal/glamorous/builds/257111820

[2017-07-24 23:53] kentcdodds commented on #30
Here's the `--debug` output:

[code]

2 things:

1. I'm not sure what's up with the Bad credentials stuff :-(
2. If a failure happens, could we please not retry a million times and just give up after 3 or something?

[2017-07-25 07:20] siddharthkp commented on #30
Definitely. Will fix that.

Are you, by any change, on github enterprise?

[2017-07-25 07:25] kentcdodds commented on #30
Great! thanks!

Not for this repo.

[2017-07-25 10:52] siddharthkp commented on #30
`bundlesize@0.13.2` fixes the recursive failure.

As for the token issue, bundlesize uses [github-build](github.com/siddharthkp/github-build) underneath.

Here's a test case that you can run with your {repo, sha, token} to check if it works: [runkit/siddharthkp/5977214](https://runkit.com/siddharthkp/5977214f2fb87a001263ed35)

[2017-07-25 22:49] kentcdodds commented on #30
Sadly, I don't have admin rights on the PayPal org and it's tough to get a key. So it's unlikely that I'll pursue this much further for glamorous. Sorry :-(

[2017-07-26 07:55] siddharthkp commented on #30
@kentcdodds okay, I understand 😔

I'm pretty sure that the token has expired/is invalid. Let me know if you change your mind later 😄

[2017-07-26 07:55] siddharthkp commented on #30
Closing this issue for now.

[2017-07-26 07:55] #30 closed

[2017-07-26 11:36] siddharthkp opened #80 "Optimise the details page url format to fit more data"
The details page url takes all the data in query params.

The url seems to be cut off at 835 characters which leaves about 797 characters for data. The current implementation is pretty naive. It stringifies the results object and passes it in the url. This works great for a few files (< 5?), but breaks after that.

A more compact format will help in supporting a bigger number of files.

code: [rep

[2017-07-26 12:43] karanjthakkar commented on #80
I checked the url link and it seems to be strip off at 1024 despite the github commit status API return the target_url correctly. Now seeing that the value is so exact, I think its a max length trimming on their end.

I cant think of two ideas for now:
1. Store the generated data object somewhere (firebase preferrably since you already have it setup), and just pass the id/hash in the details url.

[2017-07-30 17:43] vichu1988 opened #82 "Cleaner Messsages from the package"
For an example the code in `files.js` could be from
[code]
to
[code]

Makes it that much more simpler in terms of knowing where the current context runner is set to. makes it user friendly , i'd think.

Do make your comments on this.

I've made those changes as a part of different repo and can send PR if you think its worth adding.

[2017-08-01 00:01] alexanderepstein commented on #29
Huh I don't understand according to your npm statistics you seem to meet both of these requirements. 7,150 downloads in the last month.

[2017-08-01 08:53] siddharthkp commented on #29
Sadly, downloads does not equate proportionally to users.

bundlesize is a oauth app right now with a lot less than 1000 users. I probably should convert it into a github app and then 250 installations would be easier to reach.

[2017-08-03 11:12] callumlocke opened #88 "Is the bundlesize-store.now.sh service open source?"
I'm curious to see how it works.

[2017-08-03 11:42] siddharthkp commented on #88
Yep, it's the store folder in this repo

[2017-08-04 10:22] ptchand commented on #22
@wbeard Can you please let me know how (steps) to make it working?

[2017-08-05 12:50] #88 closed

[2017-08-05 18:13] palashmon opened #89 "Upgrade chalk to version 2.0.1"
There is a newer version of [`chalk`](https://www.npmjs.com/package/chalk) released that this project depends on.

Please update to latest and test it out.
Regards!

[2017-08-07 22:01] Andarist opened #90 "[feature request] Accept piped file"
**Why?**
Would be super useful to have this in place so we could pipe in output of another program, i.e. one which strips down comments.

Im happy to help with implementing this, just reaching out first with the idea as suggested in CONTRIBUTING section ;)

[2017-08-08 03:07] siddharthkp commented on #90
Hey, yep makes a lot of sense.

What's your view on implementing a --json flag, would that be useful?

[2017-08-08 06:53] Andarist commented on #90
Hmm, `--json` would mean "accept a piped input stream"? Imho - kinda weird, I would never guess :P

From what I udnerstand we can detect if we are in a 'piped' mode by using [`Boolean(process.stdout.isTTY) === false`](https://nodejs.org/api/tty.html).

I've looked really quickly into the source code, but changes I would make to support this:
- warn about conflicting CLI options - `files` with pipe

[2017-08-08 07:08] siddharthkp commented on #90
Oh sorry, what I meant was bundlesize can print in json format which can be consumed by other scripts.

That doesn't answer your questions about pipes, my bad.

This is so cool! I did not know about this.

I'm not sure if that's the best approach. I think you can create another [executable](https://github.com/siddharthkp/bundlesize/blob/master/package.json#L7-L8) `bundlesize-pipe` which skips the

[2017-08-08 07:24] Andarist commented on #90
That would probably be useful too for other use cases!

Another executable sounds nice, no problems with conflicting options.

However I would still argue that its super useful to give a name for the piped data through option. And that decoupling reading files from the config (and all that ive described above) would be great, so those pieces could get reused in `bundlesize-pipe`.

[2017-08-09 19:49] kumar303 opened #93 "Could not add github status: 404 Not Found"
I'm trying to use `bundlesize` without github integration. Is that possible? In other words, I haven't added a token but I thought I could still use the output to tell me if my bundle has reached the threshold or not.

I set up my TravisCI to run `bundlesize` in my build step. This worked fine in a branch but when I merged it to master it failed every time like this:

[code]

Here is an example of

[2017-08-10 02:45] siddharthkp commented on #93
Ah, that's a bug

I'll take care of that!

[2017-08-11 19:26] jbaxleyiii opened #94 "Multiple packages can be too long to parse for GUI"
We are moving to a lerna repo with Apollo and setup 5 filesize tests. With the current link generation, the UI fails to parse the JSON (it appears to be cut off). [Example Link](https://bundlesize-store.now.sh/build?info=%7B%22files%22%3A%5B%7B%22maxSize%22%3A1024%2C%22path%22%3A%22.%2Fpackages%2Fapollo-cache-core%2Fdist%2Findex.min.js%22%2C%22size%22%3A638%7D%2C%7B%22maxSize%22%3A5632%2C%22path%2

[2017-08-11 21:59] Aghassi opened #95 "Provide proper auth integration for Enterprise users"
Hello,

I'm looking to use this package with an enterprise deployment of CircleCI. Is there a reason you aren't using the GitHub API to do proper auth and status checks on builds? I don't mind running this as a command post `yarn`, but I still would like to have the status check if possible on our PRs in GitHub enterprise.

Looking forward to hearing from you guys. Would be great to have this abil

[2017-08-12 03:15] siddharthkp commented on #95
Related: https://github.com/siddharthkp/github-build/issues/3

[2017-08-12 03:18] siddharthkp commented on #94
Related: https://github.com/siddharthkp/bundlesize/pull/86

The url gets truncated by github status api, browsers support super long urls

[2017-08-12 06:14] Aghassi commented on #95
@siddharthkp Thanks! If I have bandwidth I can take a crack at that PR, but for right now I used this NPM module to get things up and running: https://www.npmjs.com/package/commit-status

All I did was
`yarn test` - contains `bundlesize`
`if [ $? -eq 1 ]; then commit-status failure "Failed bundle check, see logs for details"`.

Certainly not ideal, but was easy enough to get the job done.

[2017-08-14 11:26] iGitScor opened #96 "Comparison with master does not work"
Hi,

I installed bundlesize in a travis CI build script but it does not output master nor in the detail or in the success message.

![image](https://user-images.githubusercontent.com/2276944/29269767-94a6df78-80f3-11e7-93eb-471d2ef8dd9c.png)

<img width="370" alt="capture d ecran 2017-08-14 a 13 24 54" src="https://user-images.githubusercontent.com/2276944/29269836-00f25c98-80f4-11e7-9311-5aa6f453

[2017-08-14 12:50] siddharthkp commented on #96
Hi this usually means the values for master were not set.

Has a pull request been merged after enabling bundlesize?

[2017-08-14 14:50] iGitScor commented on #96
Yes, several pull requests were merged in master between (all of them without value for master)

Maybe it doesn't work with fork pull request ?

[2017-08-14 15:05] siddharthkp commented on #96
Hmm, that's weird.

Can you run bundlesize with the `--debug` flag and share the output with me?

[2017-08-16 07:50] iGitScor commented on #96
Hi,

Yes I can do it

[2017-08-16 07:56] iGitScor commented on #96
[code]

[2017-08-16 09:03] siddharthkp commented on #96
Whoops!

[code]

It could not find the token

1. Is it set in environment variables of your CI?
2. If yes, are you running the command inside a container which does not have access to the CI's environment variables?

[2017-08-16 09:06] iGitScor commented on #96
My bad, I launch the command on my machine.
But yes, Travis has those variables. I'll try to launch the command in Travis and send you the debug

Thank you

[2017-08-16 11:59] iGitScor commented on #96
[code]

[2017-08-16 12:01] siddharthkp commented on #96
Whoops, bad timing:

https://twitter.com/zeit_status/status/897775014396743680

[2017-08-17 06:55] iGitScor commented on #96
Hi,

the log changed

[code]
I think I may have an explanation. The file is not committed, it is generated during the build, does it could break size comparison ?

[2017-08-17 07:36] siddharthkp commented on #96
Nope, that shouldn't make a difference.

I think I'll need more information about your app, do you mind [DMing me](https://twitter.com/siddharthkp)?

I'll close the issue here.

[2017-08-17 07:36] #96 closed

[2017-08-17 09:00] jbucaran commented on #93
@siddharthkp Is this fixed?

[2017-08-17 10:45] siddharthkp commented on #93
No 😢

Haven't been able to make time for this. Would you like to take a shot at it?

[2017-08-17 11:14] jbucaran commented on #93
@siddharthkp BTW I was getting the same error locally. 🤔
Where does one start looking?

[2017-08-21 09:37] tunnckoCore opened #97 "Remove the sourcemap comment from the size computation?"
Currently it counts the sourcemap comment (if there is such) too.
These comments usually are around 20-40 bytes.

[2017-08-21 09:39] siddharthkp commented on #97
If your bundle has the comments, they will get shipped to the user, bundlesize counts that.
(bundlesize doesn't build for you)

[2017-08-21 09:42] charlike commented on #97
Actually, I'm agree, but probably through option may be more acceptable.

[2017-08-21 09:58] siddharthkp commented on #97
Sorry, I don't understand the benefit.

You will ship it to your users, right? So, you should also count it?

[2017-08-21 14:42] charlike commented on #97
Benefit is while testing/developing to see the diffs. Moreover, some may not need them or dont care about them.

[2017-08-26 19:30] siddharthkp opened #100 "Add all-contributors to the repo"
@kentcdodds  made the coolest thing ever: [all-contributors](https://github.com/kentcdodds/all-contributors)

- Add it the readme
- Add it to CONTRIBUTING.md

[2017-08-26 19:35] cg-cnu commented on #100
Can i start with this one ?

[2017-08-26 19:37] siddharthkp commented on #100
Yep totally!

[2017-08-26 20:08] cg-cnu commented on #100
Setup all-crontributors as dev-dependency.
Started with the initial list from [here](https://github.com/siddharthkp/bundlesize/graphs/contributors) With contribution as code.
Whom else should I add. @siddharthkp Any list you have ?

[2017-08-26 20:25] cg-cnu commented on #89
I was just looking into it and I didn't find any mention of `chalk` in `package.json`
Even the [search results](https://github.com/siddharthkp/bundlesize/search?q=chalk&type=Issues&utf8=%E2%9C%93) are showing nothing except this issue.
Am I missing something ? Let me know!

[2017-08-26 20:26] SaraVieira commented on #89
Same here @palashmon

<img width="647" alt="screenshot 2017-08-26 21 27 36" src="https://user-images.githubusercontent.com/1051509/29744857-42741700-8aa5-11e7-8ebc-d9da16076f39.png">

[2017-08-26 22:35] siddharthkp commented on #89
I think I know what's up. This package uses [prettycli](https://github.com/siddharthkp/prettycli) which uses chalk!

[2017-08-26 22:42] siddharthkp commented on #100
This is a good start. You can let people add themselves after that 😄

[2017-08-26 22:47] siddharthkp opened #103 "Add prettier as a precommit hook"
Now that we have multiple collaborators on the repo, it will be useful to add a prettier pre-commit hook to maintain consistency.

This is how you can setup a pre-commit hook: https://www.npmjs.com/package/prettier#pre-commit-hook

My favorite config is: `prettier --write --single-quote --no-semi`, but I'm open to whatever the majority feels comfortable with 😄

Thanks to @okonet for [lint-staged](

[2017-08-26 22:49] #82 closed

[2017-08-26 22:50] hawkins commented on #103
I'd be happy to knock this one out

[2017-08-26 22:51] siddharthkp commented on #103
All yours 😄

[2017-08-26 23:25] hawkins commented on #103
Sent in a PR which I think meets your original objectives at #105  👍

[2017-08-27 00:26] siddharthkp opened #106 "How do you keep package-lock.json updated?"
This project uses npm5's `package-lock.json`, I realised that a lot of folks use yarn or an older version of npm.

What this means is that you might not get the same dependencies on your machines.
Moreover, dependencies you add on npm4 will not get added to `package-lock`, this might lead to problems in CI which uses npm5 and will only install packages from package-lock (If I understand correctly,

[2017-08-27 00:28] SaraVieira commented on #106
I like artem"s idea on react styleguidist :
https://github.com/styleguidist/react-styleguidist/blob/master/dangerfile.js

How do you feel about this?

[2017-08-27 00:31] siddharthkp opened #107 "Testing strategy"
As we have bunch of contributors now, it might a good time to invest in some tests 😊

@Furizaa gave an amazing PR long back (https://github.com/siddharthkp/bundlesize/pull/20), but I couldn't wrap my head around it completely and chickened out! 🐔 Sorry!

What would be a good testing strategy?

My go-to strategy for testing CLI tools has been to test the smaller functions by calling them with real

[2017-08-27 00:34] siddharthkp commented on #106
Looks good! Can we just add this as a test?

I haven't used danger before, so I'm not sure how that works 🙈

[2017-08-27 00:34] #103 closed

[2017-08-27 00:43] SaraVieira commented on #106
I'll try and make a PR tomorrow ☺️

[2017-08-27 02:51] scttcper commented on #106
Can add npm engines to package.json which I think throws a warning if under the version.
https://docs.npmjs.com/files/package.json#engines

[2017-08-27 03:10] cg-cnu commented on #89
Then we should move this issue to prettycli ?

[2017-08-27 03:28] reznord commented on #89
yup! [Here](https://github.com/siddharthkp/prettycli/issues/4) you go.

[2017-08-27 03:55] palashmon commented on #89
Yup, that was the main repo I was trying to point to actually, but added this here by mistake as prettycli is also created by you. Sorry about that. Beginner mistake.

You can close this issue now.

[2017-08-27 04:25] #89 closed

[2017-08-27 04:58] siddharthkp commented on #89
Thanks for taking the time to create an ssue 🙂

[2017-08-27 04:59] palashmon opened #109 "Update readme for todo list"
Found that readme [**todo**](https://github.com/siddharthkp/bundlesize#todo) section mention about

But, Circle CI is already working with this package, as mentioned:

So, please update the **todo** list, as found necessary for this repo.

Regards!

[2017-08-27 04:59] siddharthkp commented on #106
Great idea! Do you want to help out with that?

[2017-08-27 05:00] siddharthkp commented on #109
Haha, good catch!

Would you like to help out with it?

[2017-08-27 05:01] palashmon commented on #109
Sure, I will create a PR for this in a moment.
Can I assign this issue to me in some way?

[2017-08-27 05:03] ThisIzKp commented on #109
@palashmon assigned it to you and added label `work in progress`

[2017-08-27 05:04] palashmon commented on #109
Thanks @ThisIzKp. Will create a PR soon.

[2017-08-27 05:14] siddharthkp commented on #109
Added you as a collaborator as well!

[2017-08-27 05:16] tohjustin commented on #106
Hi @siddharthkp, I think @SaraVieira could include the change to add `npm engines` to `package.json`. Otherwise I'm glad to create a mini-PR for this =)

[2017-08-27 05:22] palashmon commented on #109
Thanks so much @siddharthkp

[2017-08-27 05:23] #109 closed

[2017-08-27 05:41] vs1682 commented on #80
@siddharthkp  @karanjthakkar  I guess this issue is resolved and should be closed, right?

[2017-08-27 05:50] palashmon opened #111 "[Discussion] Updating CONTRIBUTING.md"
**Note:** _This is not a issue actually but more of a open discussion regarding a contributing workflow._

I have been doing some Rnd on [Fork-and-Branch Git Workflow](https://blog.scottlowe.org/2015/01/27/using-fork-branch-git-workflow/) and also on other sites and found that the basic workflow for adding a new feature to a forked repo is like:-

- Fork a GitHub repository. [Same as in our CONTRI

[2017-08-27 05:52] siddharthkp commented on #111
I honestly don't know /shrug

What's the added benefit that you get with that?

[2017-08-27 05:53] siddharthkp commented on #80
Oh yeah totally!

:tada:

[2017-08-27 05:53] #80 closed

[2017-08-27 06:08] palashmon commented on #111
A simple scenario is like:

- User A fork a repo.
- makes changes to master for feature one.
- changes got merged to original repo.
- User A makes changes again to master for feature 2 & 3.
- Feature 2 was declined, but feature 3 was added
- In between multiple users have also made changes to their forked repo.
- Those changes also got merged to original repo.

Now when user A tries to add a new f

[2017-08-27 06:14] nitin42 commented on #97
sourcemap comments are enabled by the implementors and 👇

So I agree with @siddharthkp that there are no benefits.

[2017-08-27 06:21] nitin42 commented on #111
I don't think so `CONTRIBUTING.md` requires an update. But if you still want to continue, I'd recommend dividing it into three sections -

* Understanding the codebase
* Setting up the environment
* Submitting pull requests
* Testing the changes locally (when the tests will be added)

[2017-08-27 06:27] nitin42 commented on #107
We can use nodejs `child` process to unit test the cli or we can also use [sinon](http://sinonjs.org/)'s method stubs!

[2017-08-27 06:52] siddharthkp commented on #107
That sounds perfect!

How does that work?

[2017-08-27 06:55] siddharthkp commented on #111
@palashmon Ooh that makes so much sense! I've deleted and forks again in the past 😅

Hi @SaraVieira 😁

I think this is an useful addition

@nitin42, good idea! splitting into multiple sections would be super useful too!

[2017-08-27 06:56] siddharthkp commented on #97
Cool, closing this issue.

sorry @charlike!

[2017-08-27 06:57] nitin42 commented on #107
Sinon stubs or truncate the parameters using it's built-in methods and then we can spy on those methods (will be more complicated).

[2017-08-27 07:21] palashmon commented on #72
I am not working on this case yet, but I just wanted to discuss some test case scenarios and gets inputs from other also. This might be helpful for any other contributor who wants to work on it in future.

  - ### Best case scenario
     When file name is short like:
[code]
     In this case no truncation of text is needed.

  - ### 2nd scenario
     When file path is long like:
[code]
     In thi

[2017-08-27 07:23] siddharthkp commented on #107
Ah got it, I'm a fan of testing the real thing 😅

[2017-08-27 07:24] siddharthkp commented on #72
I like all of those solutions!

I'd also like to add the case of multiple files in possibly different folders.

[2017-08-27 07:27] siddharthkp commented on #72
Another thing I'll throw into the mix is: should we do this in the CLI or on the store/details page.

Doing it in the CLI is a more effective use of URL length, but doing on the details page gives us the flexibility of deploying whenever we want even with breaking changes.

[2017-08-27 07:28] siddharthkp commented on #72
Whoops, we should this conversation to https://github.com/siddharthkp/bundlesize/pull/81

[2017-08-27 07:28] vs1682 commented on #72
You mean showing the path with it's parent directory, right?
Like
`~/parent1/file1.js`
`~/parent2/file2.js`

[2017-08-27 07:28] #72 closed

[2017-08-27 07:29] nitin42 commented on #107
I'll try to implement the tests using nodejs child process if you don't want to continue with #20

[2017-08-27 07:31] siddharthkp commented on #72
@vs1682 yep.

moved to #82

[2017-08-27 07:33] siddharthkp commented on #107
Yeah, lets start over.

Can you write just one tiny test and let's discuss the approach from there?

btw: my framework preference is avajs, it's absolutely 😍

but open to other frameworks as well 🙂

[2017-08-27 07:38] karanjthakkar commented on #94
@jbaxleyiii Can you try out the latest version v0.14.1 to see if this is fixed for you?

[2017-08-27 07:53] nitin42 commented on #107
Awesome! I also like Ava (minimal setup and config)

[2017-08-27 07:58] karanjthakkar commented on #93
@jbucaran I'm sorry you had to remove the integration because it was unusable. https://github.com/siddharthkp/bundlesize/blob/accf79cf8db19e40b34c8a0f263626e7ef2b1fc6/src/build.js#L22 is where the error is thrown and https://github.com/siddharthkp/github-build/blob/bdc53116ccf94cf6d2294fe1607aadca6bfdc26e/index.js#L9 is where it actually comes from.

It seems like a good idea to run in some kindda

[2017-08-27 08:05] jbucaran commented on #93
Hey @karanjthakkar. I actually removed it because it was not really so useful in that particular project, but I'd definitely use it in a project with a lot of dependencies or where the code base is changing all the time.

I used to have this in my pkgjson.

[code]

And bundlesize would exit with a non-zero error code preventing "npm run test" to execute. Last time I checked, I get an error that re

[2017-08-27 09:10] nitin42 commented on #107
Also writing test using `child` process will be the best options because each child process method is asynchronous and returns a child process class which contains information about `stdout`, `stderr`, `code`, `failed`, `signal`, `killed`, `cmd` and `timeout` of process. And we exactly want this data for test to check every use case.

[2017-08-27 10:31] SaraVieira commented on #106
Hi @tohjustin!

I'll do that today ☺️

[2017-08-27 10:39] siddharthkp commented on #107
An interesting thing to do would be add `ava.todo` for all the things you think should have tests written for them, and then let folks pick them one by one 😄

[2017-08-27 10:47] siddharthkp commented on #93
@jbucaran Ooh, a couple of interesting things here.

1. If you want your tests to continue running, you can make that `bundlesize || npm run test`, but then bundlesize would not be able to fail your builds!
Alternatively, you can split them into different commands and let your CI configuration decide whether it wants to fail early or run all the tests (I know travis CI supports this, don't know ab

[2017-08-27 11:18] palashmon commented on #107
@siddharthkp You mean like in new section in readme file or a seprate md file for tests which shows:
 - Tests implemented
    - like size pass or fail for single file.

 - TODO list
    - like size pass/fail for multiple files.
    - long files names are truncated or not

[2017-08-27 11:42] LeGfrey commented on #107
Hi guys, if you want I can do a POC using jest which is also very simple 😁
With a lot built in, snapshot support, mocks, stubs, coverage ... 😉

[2017-08-27 12:43] nitin42 commented on #107
@siddharthkp I think we should decide which test suite to choose because then it would be waste of effort and time 😅

[2017-08-27 12:43] nitin42 commented on #107
This will be verbose in my opinion !

[2017-08-27 13:08] SaraVieira opened #116 "Add Eslint to repo"
Since we are using prettier for the precommit hook I think we should add eslint aswell.

I was thinking of adding:

  * [eslint-config-airbnb](https://www.npmjs.com/package/eslint-config-airbnb)
  * [eslint-config-prettier](https://www.npmjs.com/package/eslint-config-prettier)
  * [eslint-plugin-compat](https://www.npmjs.com/package/eslint-plugin-compat)
  * [eslint-plugin-import](https://www.npmj

[2017-08-27 13:10] nitin42 commented on #116
Yup! we can use a popular style guide 👍

[2017-08-27 14:45] kakadiadarpan commented on #116
How about airbnb?

[2017-08-27 14:54] reznord commented on #116
IMO, adding `airbnb` is more than enough. Adding those many plugins just increase the installation time :P

[2017-08-27 15:12] palashmon commented on #116
My vote also goes with airbnb :+1:

[2017-08-27 15:13] siddharthkp commented on #116
Happy with whatever you guys decide (as long as it can automated on pre-commit) 😄

_____

I have a slightly different (new formed) opinion on linting:

_⚠️ Warning: grumpiness ahead_

A person working on code should not have to worry about styles and conventions, they should be allowed to focus on the logic/feature.

Which means, rules that are purely presentational, example: `comma-dangle`, `inde

[2017-08-27 15:18] siddharthkp commented on #107
Nope, [test placeholders](https://github.com/avajs/ava#test-placeholders-todo)

My vote is for ava ♥️!

Is that a bad thing? 😉

[2017-08-27 15:40] nitin42 commented on #107
No but we can make such changes afterwards ? Cool ?

[2017-08-27 15:42] nitin42 commented on #107
Also I was note asking for a vote 😆 . What I was saying is that there would be duplicate efforts if we don't resolve this (choosing a test runner). If you feel comfortable then I can work further on my PR 😄

[2017-08-27 15:43] nitin42 commented on #116
IMO.. if you want your codebase to adapt a code standard, you should use eslint (not necessary though).

[2017-08-27 15:45] nitin42 commented on #116
But it's a good practice so @SaraVieira may be you can start working on a PR 😄

[2017-08-27 15:55] SaraVieira commented on #116
I'll start working on it with just airbnb and prettier 🎉
Thanks for the feedback guys!

[2017-08-27 15:57] LeGfrey commented on #107
As I had a couple of hours to kill I made a try using Jest to unit test shortener with coverage support 😅

Watch this :
https://github.com/LeGfrey/bundlesize/commit/7064286e6123382c5a8d98a7132e23317aa8138e

Also we should remove the API key from this file as it is accessible to everyone ⚠️

[2017-08-27 16:01] LeGfrey opened #117 "Add a Slack team"
Hi guys,

I was thinking about creating a slack team to chat with more ease than on Github issue especially to know more each other, ask question / help or welcome new people 😄

Please tell me what you think about that 👍

[2017-08-27 16:01] palashmon commented on #116
In addition to eslint, do you think we need to add [.editorconfig](http://editorconfig.org/) to help define and maintain consistent coding styles between different editors and IDEs?

Regards!

[2017-08-27 16:04] SaraVieira commented on #116
That is a great idea, I'll put that in the PR too ☺️

[2017-08-27 16:06] palashmon commented on #107
That was my first thought looking at `shortener.js` file. I think we should use `variables.env` file and store the key there and access it using `dotenv` package like:

[code]

[2017-08-27 16:07] siddharthkp commented on #107
Sadly we need to package this and send it in the cli!

Can't expect every user to create their own api key

[2017-08-27 16:11] ForsakenHarmony commented on #116
you should probably use airbnb-base because we don't have react code

[2017-08-27 16:12] SaraVieira commented on #116
@forsakenHarmony so standard and prettier?

[2017-08-27 16:12] SaraVieira commented on #116
Didn't remember that airbnb is focused for react

[2017-08-27 16:13] ForsakenHarmony commented on #116
just [airbnb-base](https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb-base)

[2017-08-27 16:14] ForsakenHarmony commented on #117
wish there was something other than slack and gitter

[2017-08-27 16:18] palashmon commented on #117
Nice idea. I am already on slack and its nice. For new users, posting code might be difficult as first but its same as github.

[2017-08-27 16:21] ForsakenHarmony commented on #117
if only slack wouldn't require one account per team ...

[2017-08-27 16:24] siddharthkp commented on #117
I really want to try out spectrum.chat 😄  if you guys are up for it!

@mxstbr is a co-founder and it looks super pretty!

[2017-08-27 16:36] siddharthkp commented on #117
I jumped the gun and created a community on spectrum: https://spectrum.chat/bundlesize

Check it out, see if you like it 😄

[2017-08-27 16:46] palashmon commented on #117
I jumped the gun and created our first community thread :smile:

[2017-08-27 16:47] SaraVieira commented on #116
Okay! On it!

[2017-08-27 17:27] sreetamdas commented on #7
Any updates here?

[2017-08-27 17:49] siddharthkp commented on #7
@sreetamdas Not really, I'm not sure if this should be implemented in bundlesize 🤔

[2017-08-27 18:24] nitin42 commented on #107
I agree @siddharthkp ! Btwn nice work @LeGfrey

[2017-08-27 18:40] kuldeepkeshwar commented on #107
@LeGfrey instead of checking various points, can we use snapshot? maintaining and updating test cases will be much easy

[2017-08-27 19:05] kuldeepkeshwar commented on #117
created a [slack team](https://bundlesize.slack.com), in case we are moving to slack

[2017-08-27 20:06] ForsakenHarmony commented on #117
@kuldeepkeshwar you're gonna have to hand over ownership if we do

[2017-08-27 23:14] hawkins commented on #117
Spectrum is neat but lacks code snippet support as far as I can tell? My vote is for slack, added bonus is it feels like most other libraries and communities already use it 🤷‍♂️

[2017-08-28 13:32] ForsakenHarmony opened #119 "Shouldn't `yarn.lock` be ignored?"
As in remove the `.`?

https://github.com/siddharthkp/bundlesize/blob/5b7d0795b52c590425da3a978d175eb0dbb2d97b/.gitignore#L61

[2017-08-28 14:25] reznord commented on #119
There's a `.` before the `yarn.lock` there. That is the issue

[2017-08-28 14:25] ForsakenHarmony commented on #119
indeed

[2017-08-28 16:27] LeGfrey commented on #107
@kuldeepkeshwar Oh is it possible ? Aren't snapshot best for testing output and ui ?
Do you have an example ? I'm curious 😄

[2017-08-28 16:31] kuldeepkeshwar commented on #107
@LeGfrey you can use it anywhere, I'm using it with express for unit test case

[2017-08-28 17:48] LeGfrey commented on #107
@kuldeepkeshwar do you have an example repo ? 😏

[2017-08-28 18:19] tohjustin commented on #119
@ForsakenHarmony Sorry wasn't sure if you're planning to create a PR to fix this, will gladly abandon mine if you want to do it instead >_<

[2017-08-28 18:32] siddharthkp opened #121 "Personal: You guys are a little too awesome for me!"
Hey!

Thanks for joining in and helping out on this repo!

Honestly I'm a little overwhelmed that all of you wanted to join and help out!

And the speed and excitement at which y'all are going is intoxicating!

I asked for help because I was feeling burned out by starting too many projects in a tiny span of time. I'm recharging my batteries by hanging out people I love and trying out [new creative

[2017-08-28 18:33] siddharthkp commented on #117
@kuldeepkeshwar How do join the slack team? 🤔

[2017-08-28 18:33] siddharthkp commented on #117
Agreed 😄

[2017-08-28 18:39] kuldeepkeshwar commented on #117
@siddharthkp yesterday I posted the invite link in ` spectrum.chat` , check `Welcome to bundlesize!` thread

[2017-08-28 18:42] reznord commented on #117
Can just drop the link here 😄

[2017-08-28 18:43] kuldeepkeshwar commented on #117
https://join.slack.com/t/bundlesize/shared_invite/MjMyNTA0NjUwNzg5LTE1MDM4NjAxNjEtMjFjZThlZmIxMw

[2017-08-28 20:07] #119 closed

[2017-08-28 20:28] SaraVieira commented on #121
Also please be nice because I'm the one acting as the danger bot so you will be seeing my face a lot 😝

[2017-08-28 20:30] ForsakenHarmony commented on #121
Do they not have their own bot?

[2017-08-28 20:49] SaraVieira commented on #121
No you have to set up your own bot

On Mon, 28 Aug 2017, 21:30 Ashley <notifications@github.com> wrote:

[2017-08-28 20:55] kamleshchandnani commented on #117
I guess most of us are up for slack. Hence closing this
Added slack url to the contributing.md guide https://github.com/siddharthkp/bundlesize/commit/48cd121e5758a5dbe4aa65cd99cab97217b2b98d

[2017-08-28 20:55] #117 closed

[2017-08-29 03:32] palashmon opened #123 "[Discussion] Adding a npm stats badge in readme"
_Note: This is not a issue actually but more of a open discussion regarding a new readme npm stats badge._

Hi Everyone,

Just wanted to know, if you guys think we can add a badge to show no. of downloads/month like:

[![NPM Stats](https://img.shields.io/npm/dm/bundlesize.svg)](http://npm-stat.com/charts.html?package=bundlesize&from=2017-06-20)

If you click the badge, you can visit to npm-stat pa

[2017-08-29 03:47] vs1682 commented on #123
I think it's a great idea. Let's do that.

[2017-08-29 06:16] jagzviruz commented on #19
@siddharthkp you can try setting up [repository mirroring](https://docs.gitlab.com/ee/workflow/repository_mirroring.html) on Gitlab to avoid maintaining two versions.

[2017-08-29 07:39] nitin42 commented on #121
@SaraVieira your tweet though 😆 . @siddharthkp take rest and distract yourself. You've done a lot for the community and you deserve this. Also give us a spoiler of your next video !!

[2017-08-29 07:51] nitin42 commented on #121
Physics graduate !!

[2017-08-29 08:34] #106 closed

[2017-08-29 09:15] palashmon opened #124 "[Feature] Automate package publishing using semantic-release"
**Do you want to request a *feature* or report a *bug*?**
- feature

**What is the current behavior?**
[code]
You manually decide what the next version is. You have to remember what major, minor and patch means. You have to remember to push both commits and tags. You have to wait for the CI to pass.

**If the current behavior is a bug, please provide the steps to reproduce.**
- NA

**What is the e

[2017-08-29 09:29] kuldeepkeshwar commented on #124
we can use [version-bump-prompt](https://www.npmjs.com/package/version-bump-prompt)

[2017-08-29 13:19] sreetamdas commented on #111
+1, the example @palashmon gave makes sense, and frankly, seems like something that people might overlook easily.

[2017-08-29 17:41] #116 closed

[2017-08-29 21:41] paulirish opened #125 "Logo on build info page failing to load"
getting a 503 on the logo.

![image](https://user-images.githubusercontent.com/39191/29845550-1eb14282-8cc8-11e7-9c79-2991d3a3b2fd.png)

you could pull that via the https://rawgit.com/ cdn instead probably..

[2017-08-29 23:06] SaraVieira commented on #125
Hello Paul!

Thanks for the info, I'll get on fixing that in the morning ☺️

rawgit seems like a great idea I'll try that 🎉

[2017-08-30 00:15] ForsakenHarmony commented on #125
503 seems like a weird error for that, can you access the link directly?

but yeah, rawgit is probably a good idea

[2017-08-30 00:26] cg-cnu commented on #125
Hey guys! Thought its a simple one and gave it an attempt. Let me know if its fine 😄

[2017-08-30 09:15] SaraVieira opened #127 "Add Greenkeeper"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
If someone does npm install they may get a different e lock than the one on master because our packages may not be updated

**What is the expected behavior?**
Have a bot like greenkeeper telling us we need to update stuff

**If this is a feature request, what is motivation or use case for changing

[2017-08-30 09:34] reznord commented on #125
@paulirish if I'm not mistaken, `rawgit` redirects to `raw.githubusercontent`.

[2017-08-30 09:47] reznord opened #128 "Remove package-lock.json"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Right now we are including `package-lock.json` in the repo and adding it will just make the things harder like keeping the `package-lock.json` up to date every time. I agree that using `package-lock.json` makes it easy and happy for users with `npm>5`. But this is a trade-off which we have to consider.

[2017-08-30 09:48] #125 closed

[2017-08-30 09:55] cg-cnu commented on #125
@kuldeepkeshwar @SaraVieira @reznord Thanks a lot for the help. You guys are awesome! 😃

[2017-08-30 10:05] palashmon commented on #128
I think we can remove it. But, again as @SaraVieira has mentioned in https://github.com/siddharthkp/bundlesize/pull/126#issuecomment-325933500, we might or might not get issues in the future in Travis CI.

I think this has to be a ongoing test process to figure if it would be future proof like:
1. Create a test repo or branch for this purpose.
1. Add package-lock.json to .gitignore on this branch

[2017-08-30 14:07] SaraVieira commented on #127
@reznord @ForsakenHarmony are you guys okay witrh this ?

[2017-08-30 14:23] kuldeepkeshwar commented on #127
@SaraVieira 👍

[2017-08-30 14:28] SaraVieira commented on #125
@paulirish Should be fixed in 0.14.3 🚀

[2017-08-30 14:40] SaraVieira commented on #127
Turns out I can't already asked siddharthkp

[2017-08-30 14:43] ritz078 commented on #121
Thanks to you all. This project is great and a perfect example of how Open Source should work. 👍

[2017-08-30 17:53] ForsakenHarmony commented on #127
sure
so wait, can we or no?

[2017-08-30 21:59] SaraVieira commented on #127
I don't have permission to add it, it needs to be @siddharthkp

[2017-08-31 00:36] siddharthkp commented on #127
Whoops, I don't have my laptop with me. I'll have to come back to this in a couple of days 🙂

[2017-08-31 03:15] ForsakenHarmony commented on #127
no worries, don't think it's urgent

[2017-08-31 11:46] SaraVieira commented on #127
Na, take your time :)

[2017-08-31 17:27] scttcper opened #130 "0.14.3 install bug w/ init-status"
Anyone else getting this?

[code]
**Please mention other relevant information.**
- node version
v8.3.0
- npm version
5.4.0
- Operating system
osx
- bundlesize version
0.14.3
- CI you are using
travis, but this is on my local

already tried verifying npm cache and then i cleared it just because. Using 0.14.2 for now.

[2017-08-31 17:57] ForsakenHarmony commented on #130
yeah, that file seems to have gotten deleted but is in one of the scripts

https://github.com/siddharthkp/bundlesize/blob/e33b238807b70706394486e2f85cbe6c4e916ed2/package.json#L12

[2017-08-31 18:03] ForsakenHarmony commented on #130
got removed in [this commit](https://github.com/siddharthkp/bundlesize/commit/9e4880be3acaa11fd88ef8f219252a3836f18460), probably by accident

[2017-08-31 18:39] palashmon commented on #121
In case anyone missed it, check this out:
https://twitter.com/siddharthkp/status/903128991040765953

[2017-09-01 07:01] #130 closed

[2017-09-02 10:32] #128 closed

[2017-09-02 11:00] cg-cnu commented on #117
Should we add the slack link to the `contributors.md` ?

[2017-09-02 11:06] reznord commented on #117
I like the idea, what about adding it in `README` along with the badges?

[2017-09-02 11:18] cg-cnu commented on #117
I was looking for it; https://shields.io/ dosen't seems to have a slack badge support.
The other option available is https://github.com/rauchg/slackin.

[2017-09-02 11:20] cg-cnu commented on #117
And its mostly for the contributors, I feel it will can be better added in `contributors.md` as an invitation to join and `readme.md` is mostly for general users. what say! correct me if am wrong 😄

[2017-09-02 11:22] reznord commented on #117
That's more like restricting the people to join a community/group. No matter what project you take for eg: `babel` or `redux-forms` or any other library, they put the badges in the README itself.

[2017-09-02 11:25] cg-cnu commented on #117
ah... got it! That make sense. For now, we can add just the link in readme.
Later we can setup slackin. btw, this is how the badge looks like https://cldup.com/jWUT4QFLnq.png

[2017-09-02 11:26] karanjthakkar commented on #117
I'm with @reznord on this one. It should be in the README. If we can't find a badge then I guess even a link could work. :)

[2017-09-02 11:27] cg-cnu commented on #117
@karanjthakkar Yes, even I agree with @reznord 😃

[2017-09-02 11:37] kamleshchandnani commented on #117
So it should be in borh contributors and readme?

[2017-09-02 11:38] reznord commented on #117
Just in `README`

[2017-09-02 11:40] cg-cnu commented on #117
should I add the link 😄

[2017-09-02 11:47] palashmon commented on #117
We can create a custom badge and just add the link to it, so that it would look consistent with other badges.

[2017-09-02 11:48] palashmon commented on #117
Using this site: https://rozaxe.github.io/factory/

[2017-09-02 11:50] cg-cnu commented on #117
True, but I don't think slack provides a permanent invite link. So, we need to setup [slackin](https://github.com/rauchg/slackin). That will provide the badge as well 🙂

[2017-09-02 11:56] cg-cnu opened #132 "provide slack group invite link"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
No slack invite!

**If this is a feature request, what is motivation or use case for changing the behavior?**
Provide a link / badge for inviting to the slack group.

[2017-09-02 11:57] cg-cnu commented on #117
@palashmon @reznord @kamleshchandnani Created a new issue. Lets move the converstaion here... #132

[2017-09-02 11:59] reznord commented on #132
This is no feature 😅 and let's continue the discussion in #117. No need of opening multiple issues for the same thing 😄

[2017-09-02 11:59] #132 closed

[2017-09-02 12:05] cg-cnu commented on #132
Errr... ok! 😆

[2017-09-04 03:59] #123 closed

[2017-09-06 05:10] Daniel15 commented on #29
For what it's worth, number of npm downloads is not a very good measure of popularity. Poorly-configured CI systems will download dependencies fresh on every single build, so the build of one single project can result in hundreds or thousands of downloads of a package per month, even if there's only a few people working on it.

[2017-09-06 06:29] siddharthkp commented on #29
@Daniel15 Yep, vanity metrics 😄

I track `repos` separately, that's the one true metric that matters for me

[2017-09-06 16:12] siddharthkp commented on #127
Done!!

[2017-09-06 16:12] #127 closed

[2017-09-06 16:16] siddharthkp commented on #124
This is interesting 🤔

How does it decide what version to apply for pull requests? (which might have multiple commits, or might have one squashed commit)

[2017-09-06 16:20] siddharthkp opened #135 "Steal ideas from Daniel"
Daniel made a pretty awesome project called [BuildSize](https://github.com/Daniel15/BuildSize), it has a really good developer experience!

Here's a comparison: [buildsize-vs-bundlesize](https://github.com/Daniel15/BuildSize/blob/master/docs/comparison.md#buildsize-vs-siddharthkpbundlesize)

I think we can adopt some of these and make bundlesize better 😄

[2017-09-07 15:55] palashmon commented on #124
That is internally handled by semantic release using the commit-analyzer approach.
You can check out the default implementation [here](https://github.com/semantic-release/commit-analyzer/blob/master/src/index.js).

[2017-09-07 19:48] marapper opened #138 "Compression level option"
**Feature**

***What is the current behavior?***

Uses default level of compression that hardcoded in `gzip-size`/

***What is the expected behavior?***

This [PR](https://github.com/sindresorhus/gzip-size/pull/8) will add zlib options to function arguments.

So we can add option `level`

[code]

***If this is a feature request, what is motivation or use case for changing the behavior?***

In many

[2017-09-07 19:55] marapper opened #139 "Flag to disable gzip"
**Feature**

***What is the current behavior?***

`maxSize` is max size of gzipped files.

***What is the expected behavior?***

Bundlesize can be used not only for checking assets size. Sometimes it could be helpfull if we have option like `maxRealSize`.

[code]

[2017-09-07 20:03] marapper opened #140 "Different compression algorithms + levels"
**Feature**

***What is the current behavior?***

`gzip-size` uses `zlib`.

***What is the expected behavior?***

https://github.com/erwinmombay/brotli-size

https://github.com/marapper/zopfli-size

[code]

OR

[code]

Root `maxSize` can be used as default for bc.

zlib/zopfli/brotli can be optional: it will be required on demand and dependencies will be in `peerDependencies`

***If this is a feat

[2017-09-07 20:20] marapper opened #141 "Separate checks / storage / reporters"
**Feature**

***What is the current behavior?***

`files` calculate size

`reporter` check size, prepare result to output and send data to bundlesize-store.now.sh

***What is the expected behavior?***

1. Gathering data (realSize, pass/fail status) can be extracted to "checks" part. e.g. for https://github.com/siddharthkp/bundlesize/issues/140

2. API call (saving and getting `master` results) can

[2017-09-07 20:27] marapper opened #142 "Fuzzy comparison"
*bug*

**What is the current behavior?**

file.js = 1054 bytes
`maxfile` = 1KB

Expected message: `FAIL  ./src/file.js: 1kB < maxSize 1kB`
Actual: `PASS  ./src/file.js: 1kB < maxSize 1kB`

file.js = 1056 bytes
`maxfile` = 1KB

Expected message: `PASS  ./src/file.js: 1kB < maxSize 1kB`
Actual: `FAIL  ./src/file.js: 1kB < maxSize 1kB`

**What is the expected behavior?**

1. It's actually `<=` for no

[2017-09-08 10:46] #90 closed

[2017-09-10 17:38] reznord opened #144 "Features suggestions?"
More of a query for what features what we are going to add?

What all features would you like to add more to bundlesize? Any sort of inputs would be welcome

[2017-09-10 20:34] ForsakenHarmony commented on #144
we have a couple in [Issues](https://github.com/siddharthkp/bundlesize/issues?q=is%3Aissue+is%3Aopen+label%3A%22feature+request%22)

[2017-09-11 03:43] #144 closed

[2017-09-11 03:44] reznord commented on #144
Forgot that there is a feature-request label exists 😅

[2017-09-22 06:46] paulirish opened #148 "readme: Add mention of allowing Github application use within organization"
We ran into an issue on Lighthouse which took a long time to debug. We were seeing "404: Not found" when bundlesize ran on travis.

Turns out Github sometimes returns a 404 for authentication errors (rather than 401).  The fix was adding bundlesize to the approved applications list for the github organization.

That happens here: https://github.com/settings/connections/applications/6756cb03a8d6528

[2017-09-22 06:59] reznord commented on #148
/cc @siddharthkp

[2017-09-22 07:05] sreetamdas commented on #148
'dra

On Fri, Sep 22, 2017, 12:29 Anup <notifications@github.com> wrote:

[2017-09-24 19:48] scttcper opened #149 "Size in "checks have passed" interface"
<img width="545" alt="screen shot 2017-09-24 at 12 43 19 pm" src="https://user-images.githubusercontent.com/1400464/30786143-5aa0c5b6-a126-11e7-86c6-3bd95dc0e683.png">

On the interface when you click the check on github. Others like codecov put a percentage, bundlesize says good job! I was wondering if the size or something more useful could be there.

[2017-09-25 15:29] FezVrasta opened #150 "Problems with chalk"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Just run `bundlesze` after you installed the dependency of a monorepo using yarn workspaces.

I noticed that it's not something consistent, sometimes it's enough to uninstall a dependency (a random one) and the erro

[2017-09-25 15:40] FezVrasta commented on #150
I just noticed it happens only when I run `lerna bootstrap`... (I had it configured as `postinstall`)

[2017-09-27 13:28] siddharthkp commented on #150
Hey @FezVrasta I don't use lerna so i'm confused with what's going on 😅

[2017-10-04 21:51] scttcper opened #152 "v0.15.0 missing bundlesize/pipe.js"
latest release is broken - missing pipe.js? Same is happening on travis builds w/ newest version.
Looks like its missing from npm bundle https://registry.npmjs.org/bundlesize/-/bundlesize-0.15.0.tgz

[code]

[2017-10-04 22:18] SaraVieira commented on #152
@scttcper I am so sorry , there was a files array on the package.json that needed that file added

The issue is fixed, can you please try again ?

[2017-10-05 01:28] scttcper commented on #152
@SaraVieira fixed! 🎉

[2017-10-05 01:28] #152 closed

[2017-10-05 02:50] palashmon commented on #124
Not sure what is the reason for this. Could you please open an issue here https://github.com/semantic-release/semantic-release, so that they can have a look into and provide some insight into it.

[2017-10-05 11:23] #94 closed

[2017-10-05 18:08] threehams opened #154 "Compare against branch other than master."
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Bundle size comparisons are done against master. This is hardcoded.

**If this is a feature request, what is motivation or use case for changing the behavior?**
We use [https://datasift.github.io/gitflow/IntroducingGitFlow.html](GitFlow) for managing releases, where feature branches are merged into

[2017-10-05 18:14] SaraVieira commented on #154
@threehams this is a very good point! I would live to see this happen so if you could a PR that would amazing 🙌

Let us know if you find any issues or need help in the PR 😄

[2017-10-05 18:38] threehams commented on #154
What do you think of the question above?

[2017-10-05 18:55] siddharthkp commented on #154
I think an easy way of achieving this without breaking backward compatibility would be to introduce a new optional key `bundlesize-config` right next to `bundlesize` in `package.json`

We did discuss having a separate config file [here](https://github.com/siddharthkp/bundlesize/issues/33#issuecomment-313059745), but I don't think we need it yet.

[2017-10-06 23:06] erichdev opened #155 "Master values is always empty - doesn't compare to master size"
**Do you want to request a *feature* or report a *bug*?**
Bug?

**What is the current behavior?**
When I submit a pull request to master, I want bundlesize to compare the PR size to master size and include the message 'smaller than master, good job'. But master values from `api.get()` always comes back empty. `api.enabled` is `true`. Could it be that maybe `api.set()` never gets called? If so, I'm

[2017-10-07 02:19] siddharthkp commented on #155
Hi, thanks for taking the time to write a detailed issue 🙂

bundlesize sets the master values on the first merge/push event on master.

1. Has a PR been merged after adding bundlesize to the repo?
2. Do have Travis enabled for push events on master?

We can definitely improve the messaging to help out with this, suggestions welcome!

[2017-10-07 07:27] lmj0011 opened #157 "pass in glob pattern, but only get report for 1 file"
**Do you want to request a *feature* or report a *bug*?**
report a *bug*

**What is the current behavior?**
glob patterns seem to not work with the bundlesize cli tool

**If the current behavior is a bug, please provide the steps to reproduce.**

pass in a glob pattern into the bundlesize command. (see screenshots for steps)

![err2](https://user-images.githubusercontent.com/9396189/31305721-2e579

[2017-10-07 09:56] siddharthkp commented on #157
@lmj0011 Nice catch!

Turns out you can't get multiple files with commander (or maybe we're using it wrong)

Ref: https://github.com/siddharthkp/bundlesize/blob/master/src/config.js#L14-L28

Thanks for taking the time to report the issue, we'll fix it!

[2017-10-09 14:15] itsuryev opened #158 "Disable WARN github token not found"
**Do you want to request a *feature* or report a *bug*?**
Bug I guess

**What is the current behavior?**
Right now I get following output:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Do not set github token, run bundlesize on CI

**What is the expected behavior?**
I do not use github, so warning above simply adds noise to ouput. I would like to be able to s

[2017-10-09 14:21] siddharthkp commented on #158
Ah, good catch! I hadn't thought of that.

I wouldn't want to remove it completely because it is a pretty cool feature that I want people to use. But would definitely disable it for non-github folks.

I wonder if we can add another key in [ci-env](https://github.com/siddharthkp/ci-env) to pass the host/source and work with that.

Would you want to work on this?

[2017-10-09 17:47] erichdev commented on #155
Thanks for the response @siddharthkp !

I tried merging the PR into master and then opening a new PR. It still compares to the defined threshold only, but does not compare the PR size to master.

I do have Travis enabled for 'Build branch updates' and 'Build pull request updates' -- those are the two options I see closest to enabling for push events on master.

[2017-10-09 17:58] siddharthkp commented on #155
Just to make sure I have this right, you only see the first half of this message:

![screenshot](https://camo.githubusercontent.com/d3906ea9d5a3dcfd57d1d9ea4b87dc799910fd03/68747470733a2f2f63646e2e7261776769742e636f6d2f7369646468617274686b702f62756e646c6573697a652f6d61737465722f6172742f7374617475732e706e67)

Can you run bundlesize with debug on and share the results here, thanks!

[code]

[2017-10-09 18:18] erichdev commented on #155
Yes, I was only seeing '3.6kb < 4kb', but not '(0.2kb larger than master...)'.  I've got it working now -- I had to push directly to master (rather than merge a PR into master) to get the master values to save. So does that mean the master values will only get updated if pushing directly to master?

[2017-10-09 18:21] siddharthkp commented on #155
No, merge commits should work as well 🤔

Does your `.travis.yml` have a check for branch?

[2017-10-09 18:58] erichdev commented on #155
My .travis.yml only runs the build steps and runs bundlesize, no checks for branch.

Hm, I'm looking at my Travis logs from this morning. Here are the bundlesize debug results, in order of build:
1. Merged a PR to master, `master values` is empty, `api.set()` was called
2. Created a new branch and opened a PR. `master values` is empty
3. Pushed a commit directly to master. `master values` has a va

[2017-10-09 19:42] siddharthkp commented on #155
I'm out of ideas here. In step 1, when `api.set()` is called, it should have set the master values.

I'm afraid, because of whatever is wrong, your next PR will also not updates the values 😢

What's the user/repo that you are talking about, I'll check my API logs for errors

[2017-10-09 20:15] erichdev commented on #155
erichdev/office-ui-fabric-react. I appreciate your help 👍

[2017-10-09 20:42] siddharthkp commented on #155
Hey, as far as I can see..

These are the last 2 commits:

- Empty commit `d9f67de`
- Merge pull request #15 from erichdev/bundlesize2  `5ac156a`

`5ac156a` (merge commit for PR#15) [set the values](https://travis-ci.org/erichdev/office-ui-fabric-react/builds/285704505#L1621) that are visible in [logs for `d9f67de`](https://travis-ci.org/erichdev/office-ui-fabric-react/builds/285715521#L1611-L1613

[2017-10-09 20:57] erichdev commented on #155
Yes those are the last two commits to master. After merge commit `5ac156a`. I created branch `bundlesize3` and opened PR [#16](https://github.com/erichdev/office-ui-fabric-react/pull/16) [`b6a1e2e`](https://travis-ci.org/erichdev/office-ui-fabric-react/builds/285705762). Should that not compare the size to master? Why is `master values` empty in that build?

[2017-10-09 21:13] siddharthkp commented on #155
Check this timeline out:

- The [travis job](https://travis-ci.org/erichdev/office-ui-fabric-react/builds/285705762) for `b6a1e2e` from [#16]() ran at 2017-10-09T17:38:33Z (doesn't have the values)

- The [travis job](https://travis-ci.org/erichdev/office-ui-fabric-react/builds/285704505) for `5ac156a` from [#15](https://github.com/erichdev/office-ui-fabric-react/pull/15) ran at 2017-10-09T17:41:0

[2017-10-09 21:15] siddharthkp commented on #155
This is a rare but very interesting edge case, I have no idea what should we do here 😅

[2017-10-09 21:29] erichdev commented on #155
I thought I had waited to see the bundlesize command get run in the Travis log of the merge commit before I opened the new PR, but maybe not. I probably did get the timing wrong   🤦‍♂️

This edge case probably became obvious only because I didn't have any master values previously saved. If a merge is committed right after a new PR is submitted, I guess the user could always restart the Travis buil

[2017-10-10 05:57] siddharthkp commented on #155
Sadly, I don' think folks will realise that they ended up looking at an outdated comparison, especially  in the case of multiple people working on a team 🤔

I don't think I have a fix off the top of my head. Do you mind opening a new issue about this _race condition_? We would like to circle back to this sometime in the future.

[2017-10-10 05:57] #155 closed

[2017-10-10 06:04] siddharthkp commented on #149
@scttcper Great idea!

This makes a lot of sense when there are multiple files. Would you like to work on this?

[CONTRIBUTING.md](https://github.com/siddharthkp/bundlesize/blob/master/CONTRIBUTING.md) is a good place to start. And of course, we are here to discuss the implementation and help you along the way!

[2017-10-10 06:07] siddharthkp commented on #157
@lmj0011 Would you like to work on this?

[CONTRIBUTING.md](https://github.com/siddharthkp/bundlesize/blob/master/CONTRIBUTING.md) is a good place to start. And of course, we are here to discuss the details + implementation and help you along the way!

[2017-10-10 06:07] siddharthkp commented on #142
@marapper Great catch!!

Would you like to work on this?

[CONTRIBUTING.md](https://github.com/siddharthkp/bundlesize/blob/master/CONTRIBUTING.md) is a good place to start. And of course, we are here to discuss the details + implementation and help you along the way!

[2017-10-10 06:13] siddharthkp commented on #140
Hey @marapper, that's an interesting idea

However, I don't see value in implementing multiple compression algorithms.

I see value in using the same compression as your application uses on production for more accuracy, but I don't think the use case is big enough.

Another reason to shy away from this is that this problem can be solved in user-land, as you are in charge of building your bundle, y

[2017-10-10 06:14] siddharthkp commented on #141
@marapper, sounds good!

Does it solve an immediate problem?

[2017-10-10 06:16] siddharthkp commented on #138
Simlar to https://github.com/siddharthkp/bundlesize/issues/140

Merging the 2 issues

[2017-10-10 06:16] #138 closed

[2017-10-10 06:19] siddharthkp commented on #139
I think the answer to this lies in https://github.com/siddharthkp/bundlesize/issues/140#issuecomment-335371345 as well 😄

We can look at an optional flag to disable compression

[2017-10-10 07:09] lmj0011 commented on #157
sure, I can take a look at it when I have time

[2017-10-11 00:33] erichdev opened #159 "Race conditions: PR can be compared to outdated 'master' depending on Travis build run time"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior? If the current behavior is a bug, please provide the steps to reproduce.**
Travis job run times can be unpredictable and lead to outdated bundlesize comparisons. For example, if a PR is merged, triggering a Travis build, and then a new PR is submitted, kicking off another Travis build, the second Travis

[2017-10-11 07:06] siddharthkp commented on #159
Thanks for taking the time to report this!

I don't have a solution to this right now, but will circle back to it sometime

[2017-10-11 22:14] erichdev opened #161 "Add 'short name' option to config"
**Do you want to request a *feature* or report a *bug*?**
Feature request: Add a 'short name' option to the config

**What is the current behavior?**
The status posted to Github contains the full filepath/filename. Long filenames cause the status to get truncated.

**What is the requested behavior?**
If a 'short name' is provided in the config, use the short name in the message posted to Github. O

[2017-10-11 22:18] siddharthkp commented on #161
This is a really nice detail! thanks for filling an issue.

Do you think this is something that we can infer and give to everyone instead of asking for an additional config variable?

[2017-10-11 22:38] erichdev commented on #161
Curious how it would be inferred? Do you mean something like using the filename only and not the full filepath?

[2017-10-12 06:30] siddharthkp commented on #161
Yep, if shortening the name doesn't lead to clashing file names, then we should do it.

There's a discussion around this here:
https://github.com/siddharthkp/bundlesize/pull/81#issuecomment-325182045

[2017-10-12 07:47] Johann-S opened #162 "Add a way to move bundlesize configuration"
Hi,

First of all thank you for this awesome project :+1:

Currently on Bootstrap we use bundlesize, but we have (IMO) a huge [package.json](https://github.com/twbs/bootstrap/blob/v4-dev/package.json) so it would be convenient to be able to add a new config file, for example `.bundlesizeconfig`

[2017-10-12 08:03] siddharthkp commented on #162
I'm so happy that bootstrap uses this!

`.bundlesize.yml` is something that I have thought about multiple times.

Here's how I look at it in order of priority:

a. CLI args
b. `bundlesize` object in `package.json`
c. `.bundlesize.yml` (this will help us make some breaking changes to the config to enable more feature flags)

However, this is not something I can pick up immediately.

Would you like

[2017-10-12 08:06] Johann-S commented on #162
Sure :+1: but when that's an other question :smile:
I'll add that to my todolist

[2017-10-12 16:56] tdeschryver commented on #157
I think this might be a bash problem.
When running `node index.js -f ./src/*.js` on the normal windows cmd, it shows all the files.
When running on windows bash it just outputs the first file (the other files are accessible via `program.args`), when running  `node index.js -f './src/*.js'` it also shows all the files.

I don't know certain but maybe bash has a glob like system built in?

Would it

[2017-10-12 17:58] siddharthkp commented on #157
hmm, I think we'll have to replace this with a more explicit file read.

side note: I'm not sure if sum of sizes is a useful metric, because bundles are usually loaded in parallel, you should optimise for the slowest request

[2017-10-13 00:43] erichdev commented on #161
Oh awesome. Seems like the ball is already rolling on that. I think it'd still be helpful to have an optional config item to manually set the display name in case the filename is long even if the full path is omitted and in case there are duplicate filenames (e.g. multiple packages output 'bundle.js'). I think that'd be helpful for the Github Status UI since Github restricts the number of characte

[2017-10-13 21:30] siddharthkp opened #164 "Dedup files from config"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
bundlesize picks up the same file twice because of how globs work.

[code]

`vendor-*.js` will be picked up twice with different sizes.

**If this is a feature request, what is motivation or use case for changing the behavior?**

I started thinking about this after looking at @tizmagik's [tweet](ht

[2017-10-13 23:24] tizmagik commented on #164
Thanks @siddharthkp this is great! I might actually take this if I find some time this weekend 😁

I wonder if it would make sense to compare _total size_ of the rest of the files with 90Kb, or if it should be _each_ of the rest of the files. I think it might make more sense to compare total size, but I could see a use case for comparing each.

Maybe we could support both? Something like a `maxSize

[2017-10-14 00:33] lmj0011 commented on #157
@tdeschryver is right, BASH is parsing the glob before it gets handled in the node script.

My suggestion would be to make a note of quoting the glob path on the cli
https://github.com/siddharthkp/bundlesize#cli

see: https://medium.com/@jakubsynowiec/you-should-always-quote-your-globs-in-npm-scripts-621887a2a784

[2017-10-14 10:42] siddharthkp commented on #164
I don't think total size makes sense here because the way they will be served to the client, especially if the bundles are split by route.

Take this for an example:

[code]
Now adding a new page/bundle, something like `dist/about.js` should not start failing builds 😄
What we do want is that `dist/about.js` should follow the bare minimum quality metric (90Kb in this example) until someone configur

[2017-10-14 10:46] siddharthkp commented on #157
@lmj0011 updated the readme for "quotes"

[2017-10-14 12:43] tizmagik commented on #164
Sure yea that makes sense 👍

[2017-10-14 21:52] styfle opened #167 "Please remove the postinstall opencollective ad"
**Do you want to request a *feature* or report a *bug*?**
Enhancement

**What is the current behavior?**
Show postinstall opencollective ad

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expected behavior?**
Expected no output

**If this is a feature request, what is motivation or use case for changing the behavior?**
It is confusing the the use

[2017-10-14 22:16] SaraVieira commented on #167
@siddharthkp

[2017-10-15 19:50] siddharthkp commented on #167
@styfle Thanks for your feedback!

Good point, I have removed it and published a minor `0.15.3`

[2017-10-15 19:50] #167 closed

[2017-10-15 20:45] styfle commented on #167
Thanks for the quick response!

[2017-10-18 09:23] vs1682 commented on #161
@siddharthkp can we do something like showing a shortpath (filename + parentName) for the file and full path on hovering the shortPath.

------
![shortpathbundlesize](https://user-images.githubusercontent.com/5151881/31710830-d111b8cc-b413-11e7-8ad0-b85721874db1.gif)

[2017-10-18 12:51] siddharthkp commented on #161
@vs1682, yep that's the idea. Check https://github.com/siddharthkp/bundlesize/pull/166

[2017-10-21 09:45] keirlawson commented on #139
would a PR be welcome for this?

[2017-10-21 11:24] siddharthkp commented on #139
@keirlawson Yep, updated the title as well.

A pull request that adds a flag to disable gzip is welcome 😄

[2017-10-21 11:35] keirlawson commented on #139
my though was more to add a parallel option, like `maxDiskSize`?

[2017-10-21 12:10] siddharthkp commented on #139
I'm not keen on adding that because of: https://github.com/siddharthkp/bundlesize/issues/140#issuecomment-335371345

[2017-10-21 12:13] siddharthkp commented on #139
That solves 2 problems together by passing control to the user. Is there a use case where you would want to compare the real file size instead of gzipped (this comes with the assumption that you should first use gzip on your servers if you are trying to optimize for performance)

[2017-10-21 12:32] keirlawson commented on #139
In my case I sadly don't have control of the server environment, so can't be certain the file will
be gzipped, hence the size on disk being more interesting for me

[2017-10-21 14:42] siddharthkp commented on #139
Interesting use case, although users will be served gzipped, right? Is that not a fair assumption?

Even so, a disable compression flag will give you size on disk that you are looking for 😄

[2017-10-25 06:03] sethbattin opened #173 "Feature Request: allow additional settings from package.json config"
**Do you want to request a *feature* or report a *bug*?**
## feature request
### What is the current behavior?
The library loads settings like this:

- One `path` and one `maxSize` from CLI options, OR
- An array of `path`/`maxSize` settings from package.json at key `bundlesize`
- An API token via `ci-env` and `process.env` settings
- (other sources in elsewhere in code?)

### If this is a feature

[2017-10-25 08:51] siddharthkp commented on #173
Hey @sethbattin, thanks for opening a detailed issue.

Makes sense! In fact, this is something that we know we will need, were just waiting for the opportunity.

https://github.com/siddharthkp/bundlesize/pull/171 and https://github.com/siddharthkp/bundlesize/pull/172 have opened that up for us.

[2017-10-25 14:31] sethbattin commented on #173
Great.  Looks like #172 expands the definition of a single file, and #171 adds an extra source.  I think I could adapt my patches to use both of those; do you know when those PRs might be merged?

Also, do you want the unit test addition?  If it helps, I could revert https://github.com/sethbattin/bundlesize/commit/40f2536aef1331012f26b8f6827faf56f21a30aa and https://github.com/sethbattin/bundlesiz

[2017-10-25 14:37] sethbattin commented on #162
Added https://github.com/siddharthkp/bundlesize/issues/173 re: `package.json` object settigns

[2017-10-25 19:21] siddharthkp commented on #173
Can't say for sure 😅

Don't worry about it, i'll take of it 😉

[2017-10-25 23:57] sethbattin commented on #173
Sorry for my confusion here, but I don't know what you are intending.  Should I submit a PR, or wait for those other tickets, or what?

[2017-10-26 00:10] sethbattin commented on #154
This is the goal I had in mind when submitting https://github.com/siddharthkp/bundlesize/issues/173 (spoilers I work with David).  `"master"` is [currently hardcoded](https://github.com/siddharthkp/bundlesize/blob/master/src/reporter.js#L19), but if it were drawn from config it could be any base branch or merge target.

I think this idea is compatible with using ENV vars, too.  The `config` object

[2017-10-26 03:09] sethbattin opened #175 "Slack invite link is expired"
**Do you want to request a *feature* or report a *bug*?**
## Bug

### What is the current behavior?
The slack invitation link in [Contributing](https://github.com/siddharthkp/bundlesize/blob/master/CONTRIBUTING.md#click-here-to-join-the-slack-channel) is expired.
![image](https://user-images.githubusercontent.com/1627760/32033177-aafa0e6a-b9d0-11e7-96a4-b3fb831fe94a.png)

### If the current behavi

[2017-10-26 10:29] sreetamdas commented on #175
seems to working just fine

[2017-10-28 18:47] gokulkrishh opened #176 "Support for Semaphore CI ?"
Bundle Size is great tool, lots of open source & awesome projects are using it. Here i am requesting for the Semaphore CI support as well 😀 . Thanks

[2017-10-28 20:44] siddharthkp commented on #176
You'll need to port https://github.com/siddharthkp/github-build for semaphore and then we can use it 🙂

[2017-10-29 06:03] gokulkrishh commented on #176
@siddharthkp Will look into it 👍

[2017-10-29 20:31] ooade opened #177 "Slack badge is broken"
Add a new one from img.shields.io?

[2017-11-01 11:38] FezVrasta commented on #140
It would make sense for the new brotli compression, all the major browsers support it now.

[2017-11-02 07:18] BarryThePenguin opened #179 "Javascript API"
Feature

`bundlesize` is a cli tool that takes command line arguments as input

Current build tools that I'm using, include gulp and others, already provide a means of reading files from the filesystem. If `bundlesize` exposed an API I could use that with the bundled files I already hold in memory.

[src/files.js](https://github.com/siddharthkp/bundlesize/blob/master/src/files.js) already does mos

[2017-11-02 07:28] siddharthkp commented on #179
What benefit would that open up?

`src/files.js` can be made async but it probably wouldn't lead to any perceivable performance benefit for < 100 files

[2017-11-02 23:19] BarryThePenguin commented on #179
We have a seperate bundling process for our packages that doesn't happen on CI. It happens after the package has been published to npm.

As our CI process doesn't currently build bundles, we don't have any files on the filesystem to run bundlesize with. We could build a bundle in memory and pass it onto bundlesize if there was a javascript API.

This would save us the steps required to build a bun

[2017-11-09 16:40] StephanBijzitter opened #182 "Change to master isn't shown in pull request status"
**Do you want to request a *feature* or report a *bug*?**
A bug, although it may be a feature request if this is intentional.

**What is the current behavior?**
Currently, my pull request tells me that I've done a good job and that my bundles are within limits.
<img width="367" alt="screen shot 2017-11-09 at 17 34 45" src="https://user-images.githubusercontent.com/1649903/32617306-f6a43e44-c574-11

[2017-11-09 17:19] siddharthkp commented on #182
Currently, I can only see the change when clicking on the 'Details' link.

Yep , that's a thing I'm not super happy about. Do you have suggestions on how we can do better in the case of multiple files?

(P.S. I'm going to make the issue description a bit tinier to get the feature request across, I hope you don't mind)

[2017-11-09 18:04] threehams commented on #182
We're experimenting with this on a fork, but it requires additional permissions (commenting on PRs). There's just not enough room on build status.

[2017-11-09 18:35] siddharthkp commented on #182
@threehams

that's what I struggled with 😔

[2017-11-09 19:35] StephanBijzitter commented on #182
@siddharthkp no problem, original point comes across very well with your edits!

@threehams In our case we're checking the size of four files. Having all of those featured in the status is indeed not feasible due to space restrictions.

If comments require additional permissions, that'd probably be suboptimal indeed. But, what about the next two suggestions?

**One status for each file:**
Taking i

[2017-11-09 19:49] siddharthkp commented on #182
I really like idea number 2! the first one is more explicit but also more noisy 😢

One tiny optimisation that can make no. 1 better would be to skip the files that have no change.

Personally, I think if there's only one bundle that's effected, we should show that bundle and leave the rest to the details page. If it's more than 1, switch to idea no. 2

[2017-11-09 20:02] StephanBijzitter commented on #182
Skipping files with no change would not allow repositories to mark a status check as required, which is a bit of a bummer as that way you can't force your co-workers to keep it within limits 👼

Yeah, I agree. Perhaps this could be the behavior for different situations:

-  one file, passes checks: "app.js is still tiny! 46.88/75kB (+1B)"
-  one file, fails checks: "app.js is too big! 76.88/75kB (+

[2017-11-09 20:28] threehams commented on #182
I like the idea of multiple statuses, but it would definitely need to be configurable. We're a bit edge case in that we'll (eventually) have over 1000 individual files to size-check, so that'd be a bit much.

[2017-11-09 20:38] siddharthkp commented on #182
@StephanBijzitter go for it!

[2017-11-09 21:32] StephanBijzitter commented on #182
@threehams
I'll take multiple statuses into account, so that when the time is right it should be easy to implement.

For now though, I'll focus on getting better messages in one status for multiple files. I've tested my initial changes against our project and the messages work correctly, but somehow (even though I can see the change compared to master in the status message) the details page doesn'

[2017-11-10 10:44] StephanBijzitter commented on #182
@siddharthkp Could you take a look at #183, please? The messages are working correctly, but there's two issues that I don't understand. I've listed these in the description of the pull request. I'm hoping someone with (much) more experience in this project (you) will be able to see where I messed up.

[2017-11-10 10:47] siddharthkp commented on #182
Sounds good, will take care of it

[2017-11-21 16:29] thiagogoncales opened #185 "Add documentation on how to get bundlesize GitHub integration in generic CI"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
No documentation on how to integrate `bundlesize` with some generic CI

**If this is a feature request, what is motivation or use case for changing the behavior?**
I had to dig through https://github.com/siddharthkp/ci-env code base in order to find the required variables, which btw are
- CI_REPO_O

[2017-11-22 18:49] walkerrandolphsmith opened #186 "Support ignore pattern"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
I am not aware of an ignore pattern in the bundlesize configuration.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
The ignore glob will ignore processing files that match the glob pattern.

**If this is a feature request, what is m

[2017-11-22 18:53] walkerrandolphsmith commented on #186
I can accomplish my goal with the following config. Not sure if there are other use cases. Will close until one is identified.
[code]

[2017-11-22 18:53] #186 closed

[2017-11-22 20:06] siddharthkp commented on #186
@walkerrandolphsmith bundlesize uses [glob](https://github.com/isaacs/node-glob) underneath which supports ignoring files :)

[2017-12-08 15:29] stevenfitzpatrick opened #188 "BundleSize CircleCI Not Failing Build if bundle check fails"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
When BundleSize maxSize fails the process ends with Exit Code 0 instead of 1
**If the current behavior is a bug, please provide the steps to reproduce.**
![circleci com_gh_stevenfitzpatrick_stevenfitzpatrick io_4_utm_campaign vcs-integration-link utm_medium referral utm_source github-build-link](https:/

[2017-12-09 15:44] siddharthkp commented on #188
Wow, how long has it been that way 😧

Would you like to dig in deeper to find why is not correctly set?

[2017-12-12 18:41] developit commented on #97
I know this is a closed issue, but would you be open to adding an **option** to strip sourcemap comments prior to computing size @siddharthkp?  I prefer to exclude them from size calculations because bundlers strip them when combining modules.

[2017-12-12 19:47] reznord commented on #97
I'd prefer going with a flag in this case (if this can be a viable option).

[2017-12-13 12:49] siddharthkp commented on #97
@developit @reznord You'll have to educate me a little 😅

Do you ship sourcemap comments to your users? If yes, then it should be counted here.

Are you saying that you ship them for the consumers of the lib (applications), but it eventually gets stripped out in the application's build process?

[2017-12-13 12:51] siddharthkp commented on #97
Even in the application's case, is it safe to assume that it will always be stripped out? As bundlesize doesn't build the bundles for you, I'm a little touchy about it

[2017-12-28 20:07] rosskevin opened #190 "500 error"
**Do you want to request a *feature* or report a *bug*?**
bug (3 builds attempted)

**What is the current behavior?**
500 error

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
travis ci build of PR https://github.com/apollographql/react-apollo/pull/1488

**What is the expected behavior?**
Success

**If this is a feature request, what is motivation or use case

[2017-12-28 20:11] karanjthakkar commented on #190
@rosskevin Looking at the url https://bundlesize-store.now.sh/values?repo=apollographql/react-apollo&token=xxxomitedxxx, I'm guessing it is because of zeit services facing some issues since the past few hours: https://twitter.com/zeit_status/status/946465466540797952 Things should go back to normal once that is sorted.

[2017-12-28 20:20] rosskevin commented on #190
Just tried again - still 500.

I'll just leave this open for others to find.  Once things are good feel free to close.

[2017-12-29 06:11] karanjthakkar commented on #190
@rosskevin Can you give it a shot again? Looks like everything is back up! https://twitter.com/zeit_status/status/946597402483421184

[2017-12-29 07:03] siddharthkp commented on #190
Yeah, there was a long downtime yesterday, wondering what should be our fall back mechanism, skip checks with a warning?

[2017-12-30 12:56] rosskevin commented on #190
All good now

[2017-12-30 12:56] #190 closed

[2018-01-02 10:10] sreetamdas opened #191 "Remove (dead) CodeSponsor link from README"
As of December 8, 2017, [CodeSponsor shut down](https://us16.campaign-archive.com/?u=e95ff716114dbc939f8ef6100&id=b412420b3a), and developers using Codesponsor have been asked to remove the code from the `README`.

[2018-01-02 12:36] #191 closed

[2018-01-02 14:20] Haroenv commented on #154
Branch target would make a lot of sense according to me, because master has some flaky integration tests in my case, which means that bundlesize can't be run there

[2018-01-02 14:27] Haroenv commented on #177
The invite link itself also doesn't work 😄

[2018-01-02 15:28] siddharthkp commented on #177
Whoops, will replace it with an open invite link

[2018-01-02 15:37] sethbattin commented on #154
@Haroenv, I had the same issue, so I implemented it in a fork: https://github.com/sethbattin/bundle-report/blob/parallel-dev/src/default.bundlereport.rc#L15

The fork also does config file loading, but the above setting can go into package.json as well.

[2018-01-30 15:53] Raigen commented on #93
For me this is an issue because I have a `GITHUB_TOKEN` in my local environment, but only for some automated gists. Naturally that token does not have access to any repos. And it should not because when I run builds locally I do not want bundlesize to do anything with my github token. But I still would like to know if something I did accidently raised the size of the bundle before I push it to the

[2018-01-30 17:56] siddharthkp commented on #93
@Raigen, as far as I remember, you can run it on local without giving a token and it should work. (correct me if this isn't happening in your case)

[2018-01-31 09:20] Raigen commented on #93
@siddharthkp I already use a token for some gist things, but bundlesize tries to use it and then fails the build because of a 404 from github because the token is meant for gist only.
An option/cli parameter would be nice to opt-in github status feature in CI and do nothing locally even when there is a token. Or an opt-out for locale machines to not break existing integrations.

[2018-01-31 09:51] siddharthkp commented on #93
My view here is that it should just ignore tokens on non-ci env

Can you open a different issue for this?

[2018-01-31 13:38] #139 closed

[2018-02-06 22:18] scttcper commented on #149
#197 has what i wanted

[2018-02-06 22:18] #149 closed

[2018-02-07 00:12] StephanBijzitter commented on #188
Could you also paste the content of the `test:size` script in `package.json`? It could be as simple as `|| true` in there, would be a shame to dig into this issue only to find out the problem was in the usage :-)

[2018-02-23 13:59] edmorley opened #200 "opencollective dependency is unused"
The [opencollective](https://www.npmjs.com/package/opencollective) package pulls in 39 dependencies, and currently isn't used now that the postinstall command has been was removed:
https://github.com/siddharthkp/bundlesize/commit/e0527bd56b7c88a1b424afee16ab99d275295bcf#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

I'll open a PR to remove it (filed this first since the PR issue template suggested there

[2018-02-23 16:04] edmorley opened #202 "Harder to install 0.16.0 due to dependency on brotli-size"
Hi! Thank you for a great tool :-)

**Do you want to request a *feature* or report a *bug*?**
Ease of use regression between 0.15.3 and 0.16.0.

**What is the current behavior?**
#194 (released in 0.16.0) added support for tracking the brotli sizes of files, however to do so it had to add a dependency on [brotli-size](https://www.npmjs.com/package/brotli-size), which itself has a dependency on [il

[2018-02-24 02:47] gr2m opened #203 "Using the GitHub App"
Hey there,

I found out there is a GitHub App at https://github.com/apps/bundlesize. I was curious and tried to install it on https://github.com/octokit/rest.js but after install it redirected me to https://github.com/login/oauth/authorize?installation_id=91906 which gives me a 404.

I was hoping that using the GitHub App I could use bundlesize on pull requests from forks which currently is not wo

[2018-02-26 19:39] edmorley commented on #203
Converting to a GitHub app would be very useful for us too, since there are issues with the legacy oauth app permissions model that means our org admins have (understandably, given how broken it is) declined my request for approval ([see here](https://bugzilla.mozilla.org/show_bug.cgi?id=1440615)).

If there's anything I can help with just shout :-)

[2018-03-06 15:13] #200 closed

[2018-03-15 23:55] manniL opened #205 "Feature: Check against total file size"
**Do you want to request a *feature* or report a *bug*?**

A feature

**What is the current behavior?**

Bundlesize currently checks if each file is below the threshold.

**What is the expected behavior?**

With a flag set (e.g. `checkAgainstTotal`), bundlesize should sum up the size of all (selected) files and check it against a threshold.

**If this is a feature request, what is motivation or us

[2018-03-16 05:05] siddharthkp commented on #205
Thanks for taking the time!

bundlesize tries to shy away from total size because the performance of a page depends a lot on the way the individual bundles load (prefetch/lazy-load/on-demand, etc.)

We've had discussions around `total` in the past and it doesn't make sense to drive confidence from a metric that is biased/nuanced.

One strategy that has worked for teams using bundlesize is to measu

[2018-03-16 05:05] #205 closed

[2018-03-16 08:41] manniL commented on #205
@siddharthkp Thanks for that fast answer! I understand now why the measurement of individual files makes more sense than measure the total file size. :relaxed:

[2018-03-25 21:25] debugme opened #206 "Allow bundlesize to be configured by a file rather than relying on package.json"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Configuration can only be read from package.json file

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
To be able to pass in configuration by specifying path to a file.

For example:

`$ bundlesize --config ./configs/bundlesize/config

[2018-03-30 10:39] tdeekens commented on #206
I would love this feature too. This should be fairly easy to achieve with this package https://github.com/davidtheclark/cosmiconfig. It is for instance used in `jest-runner-eslint` among others. Would you be interested in a PR for this?

[2018-03-30 11:36] Johann-S commented on #206
Related to: https://github.com/siddharthkp/bundlesize/issues/162

[2018-04-02 10:59] larionov opened #207 "Add minSize option"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
bundlesize only checks for `maxSize`

**What is the expected behavior?**
To be able to check `minSize` too.

**If this is a feature request, what is motivation or use case for changing the behavior?**
Would be nice to check for build errors that result in empty or drastically different bundle sizes

[2018-04-02 11:03] siddharthkp commented on #207
🤔

I don't think this is something bundlesize should do. It can't replace the need for functional tests

[2018-04-02 12:07] larionov commented on #207
@siddharthkp I agree that functional tests are needed but just now I had a problem when empty css files was generated in our package. Also, `bundlesize` and `maxSize` names kind of imply that this package checks everything about sizes. I even tried to add `minSize` option in our config without checking docs first.

[2018-04-02 12:49] siddharthkp commented on #207
I didn't try to imply that 😅

What would you set as the minSize for such case? `> 0`?

[2018-04-02 12:56] larionov commented on #207
On Mon, Apr 2, 2018, 19:49 Siddharth Kshetrapal <notifications@github.com>
wrote:

I can see that 😂

I would set it slightly less then the current size.
And I would say that if the size gets lower intentionally you have to
change maxSize to match that too, to still be able to control it.

[2018-04-03 23:24] kanzelm3 opened #208 "Allow glob pattern filename mapping to master"
**Do you want to request a *feature* or report a *bug*?**

I want to request a *feature*.

**What is the current behavior?**

If you use [glob-patterns](https://github.com/isaacs/node-glob) in a path in your configuration, bundlesize is unable to perform a comparison to master if the filename has changed.

**If the current behavior is a bug, please provide the steps to reproduce.**

Use webpack to

[2018-04-06 23:34] kanzelm3 opened #211 "Use URL fragment instead of query param for info URL"
**Do you want to request a *feature* or report a *bug*?**

*bug*

**What is the current behavior?**

Currently, the info for a build is sent to `https://bundlesize-store.now.sh/build` as the query param `info`. Query params are included in the max URL length rules that browsers enforce, so if a build has a large number of files and long filenames, the google URL shortener API returns a 400 error b

[2018-04-10 14:40] shaneog commented on #176
@siddharthkp Can you give clearer instructions please? Do you want to add a PR to that repo, or do something else?

I want to add support for Buildkite.

[2018-04-13 16:27] jakebolam commented on #185
THANK YOU, THIS NEEDS TO BE IN THE DOCS

[2018-04-13 17:53] styfle opened #213 "bundlesize is 10x larger after npm install since v0.14.0"
**Do you want to request a *feature* or report a *bug*?** bug

**What is the current behavior?**
npm install --save-dev bundlesize has grown 10x larger than in 0.14.4

**If the current behavior is a bug, please provide the steps to reproduce.**

Compare the following versions after npm install:

- [0.14.4](https://packagephobia.now.sh/result?p=bundlesize@0.14.4)
- [0.17.0](https://packagephobia.no

[2018-04-13 18:15] edmorley commented on #213
Related: #202

[2018-04-13 18:55] siddharthkp commented on #185
@jakebolam Do you want to add it?

[2018-04-13 18:56] siddharthkp commented on #213
@styfle Do you want to tackle this?

This is because of the addition of `brotli-size` (https://github.com/siddharthkp/bundlesize/pull/194), we can make this an optional dependency with a warning if it's used before installation.

[2018-04-15 18:17] jakebolam opened #216 "Update slack links"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Slack links are broken

**If the current behavior is a bug, please provide the steps to reproduce.**
Slack links from the README.md and CONTRIBUTING.d are currently broken.
- README links to https://bundlesize.now.sh/ which redirects to a 404
- CONTRIBUTING links to https://join.slack.com/t/bundlesize/

[2018-04-15 19:23] jakebolam opened #217 "Support for for comparing bundlesize against branches other than master"
**Do you want to request a *feature* or report a *bug*?**
*feature*

**What is the current behavior?**
Bundlesize always compares against master

**If this is a feature request, what is motivation or use case for changing the behavior?**
A powerful feature of bundlesize is its comparison to master. It would be useful to support use cases where the branch being merged is not against master. E.g. yo

[2018-04-17 17:33] dzearing opened #218 "bundlesize failing because google api call 403ing."
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
bundlesize doesn't work because of googleapi 403s.

**If the current behavior is a bug, please provide the steps to reproduce.**
Run bundlesize.

**What is the expected behavior?**
https://github.com/siddharthkp/bundlesize/blob/master/src/shortener.js
This file has a hardcoded api key. Maybe it shouldn

[2018-04-17 19:05] dzearing commented on #218
May be related to:

https://www.engadget.com/2018/03/30/google-shutting-down-goo-gl-url-shortening-service/

[2018-05-01 23:47] rsimha opened #219 "Support github integration for PRs from forks"
@siddharthkp Nice work in creating `bundlesize`! We're [using it](https://github.com/ampproject/amphtml/blob/6827fac5db3d50bfcfdf3238031194ebd1f5bd33/gulpfile.js#L824-L840) to keep track of our binary sizes on the AMP project (https://github.com/ampproject/amphtml).

I was trying to make full use of PR integration using `BUNDLESIZE_GITHUB_TOKEN` as described [here](https://github.com/siddharthkp/b

[2018-05-01 23:56] rsimha commented on #219
Hmm. After doing some more searching, I see that similar problems were encountered in #203. I'll leave this open until @siddharthkp gets a chance to take a look.

[2018-05-02 11:24] siddharthkp commented on #219
Hey!

Yep, travisCI doesn't pass the tokens to forks because they can be logged + they allow ssh access to the instance

Do you know what's the approach taken by Percy/LGTM?

[2018-05-02 11:33] siddharthkp commented on #218
Whoops, this is terrible

@karanjthakkar Ideas?

[2018-05-02 11:46] karanjthakkar commented on #218
@siddharthkp That sucks! Did goog send you an email to inform you that the service may be shutting down? 🤔 Regardless I can see two options:

1. Use another service 🤷‍♀️ like bitly or something
2. extend the bundlesize now app to include two more endpoints:
    - /shorten to shorten the url and save the hash to firebase (which we already have setup)
    - /redirect/<hash> to fetch from firebase an

[2018-05-02 13:58] rsimha commented on #219
@siddharthkp I believe they registered as GitHub apps, so the permission is granted through the API and not through a token.

See https://developer.github.com/apps/building-github-apps/

[2018-05-02 14:08] rsimha commented on #219
I thing the gist of how to do this is mentioned in the LGTM docs:
.```
Pull request integration requires access to repository webhooks and services, and access to commit statuses.
[code]

[2018-05-02 21:18] siddharthkp commented on #218
I like option 1 because it's the least amount of change

[2018-05-17 09:55] greenkeeper[bot] opened #221 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="https://github.com/siddharthkp/bundlesize/compare/master...siddharthkp:greenkeeper%2Fupdate-t

[2018-05-17 14:41] #221 closed

[2018-06-05 15:22] siddharthkp opened #223 "Integrate the new checks API"
This will let us show detailed comments instead of just a line!

https://developer.github.com/changes/2018-05-07-new-checks-api-public-beta/

[2018-06-06 15:51] carly-litchfield-zocdoc opened #224 "(-null) appearing in PR checks sometimes"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Sometimes in PR status's, I see `(-null)` in the bundlesize checks. Sometimes it's perfectly fine. When there is `(-null)` in the check, the link doesn't display any data under the `master` section. See screenshots below.

**Working**
![image](https://user-images.githubusercontent.com/8292548/41048586-

[2018-06-06 16:51] carly-litchfield-zocdoc commented on #224
Okay after more reading and finding this issue (https://github.com/siddharthkp/bundlesize/issues/155), I am guessing this is because I haven't granted commit status access to bundlesize. It seems like the simple checking against thresholds works fine without granting access, but comparing against master does not.

[2018-06-06 20:34] Ailrun opened #225 "Support custom configuration file"
**Do you want to request a *feature* or report a *bug*?**
Request a feature

**What is the current behavior?**
Read the `package.json`

**If this is a feature request, what is motivation or use case for changing the behavior?**
I want to separate configs into specific directory.

**Please mention other relevant information.**
- node version: 9.11.1
- npm version: 6.0.0
- Operating system: Manjaro

[2018-06-10 15:54] palashmon commented on #175
Duplicate of #177

[2018-06-10 15:54] #175 closed

[2018-06-10 15:54] palashmon commented on #216
Duplicate of #177

[2018-06-10 15:54] #216 closed

[2018-06-13 16:59] styfle commented on #157
@siddharthkp I agree with @tdeschryver...
I thought the glob pattern was going to sum the size of the matched files to see if it exceeded the given size.

Is this feature implemented already or is there a feature request for this already?

[2018-06-14 04:06] siddharthkp commented on #157
Nope, sum of files is not a useful metric.

Here's the explanation: https://github.com/siddharthkp/bundlesize/issues/205#issuecomment-373604616

[2018-06-22 11:40] #124 closed

[2018-06-24 17:52] trevordmiller commented on #225
Agreed. It would be nice to have a `.bundlesizerc` or `.bundlesizerc.json` file option for those who like to keep config out of `package.json` (following other tools: `.babelrc`, `.eslintrc.json`, `.lintstagedrc.json`, `.prettierrc.json`, `now.json`, etc.).

Thanks for the great tool!

[2018-06-26 19:57] rsimha commented on #219
@siddharthkp Any word on this? We're still looking for a way to enable native Github integration for PRs originating from forks.

[2018-06-27 18:19] siddharthkp commented on #219
Nothing yet.

I'm not working on bundlesize right now, Hopefully one day.

[2018-06-29 12:58] weynsee opened #229 "Unexpected exit status when token is provided"
**Do you want to request a *feature* or report a *bug*?**
Report a possible bug

**What is the current behavior?**
When token is provided bundlesize still exits with `0` status even if the checks fail.

**If the current behavior is a bug, please provide the steps to reproduce.**
- Create project with a failing bundlesize check
- Integrate with CI and supply a token
- Configure CI to run build with

[2018-07-07 07:59] #111 closed

[2018-07-08 06:44] #100 closed

[2018-07-09 03:44] palashmon commented on #229
Hi, thanks for reporting this but this issue is not clear to me. Do you mean like your CI build failed but `bundlesize` still passed?

[2018-07-09 10:23] weynsee commented on #229
Actually the CI build passed even though `bundlesize` failed. When I run `bundlesize` and the bundle size exceeds the max limit, it exits with an exit status of `0` so the CI sees it as a successful build. This only happens when CI integration is enabled. Is this expected behaviour?

[2018-07-11 03:35] palashmon commented on #229
cc @siddharthkp

[2018-07-12 03:46] weynsee commented on #229
I created a quick PR [here](https://github.com/siddharthkp/bundlesize/pull/231) to hopefully better illustrate the problem I'm encountering (and a possible bug fix). Feel free to close it if the current behaviour is expected, thanks!

[2018-07-12 14:46] sjvs commented on #219
Hi @siddharthkp and @rsimha! Indeed, LGTM works through GitHub webhooks (full disclosure: I'm on the team).

I've just added bundlesize to LGTM.com for JavaScript analysis, so you can see how the integration works. The code analysis results are available [here](https://lgtm.com/projects/g/siddharthkp/bundlesize/ci/), but... There are zero alerts! Great stuff.

At this stage no GitHub integration h

[2018-07-12 15:32] siddharthkp commented on #219
Hi @sjvs, thanks for reaching out!

I will work on this after a couple of weeks, will reach out to you If I need help!

Thanks again

[2018-07-19 17:01] iam4x opened #233 "Negation glob pattern is not working in package.json"
* `$ bundlesize -f ".next/{static,bundles}/{**,\!admin}/*.js"`

Excludes correctly admin.js and admin/*.js

[code]

Does not excludes the files.

[2018-07-20 08:11] iam4x commented on #233
After looking correctly at node-glob documentation it works 🤦‍♂️

[code]

[2018-07-20 08:11] #233 closed

[2018-07-28 20:43] limonte opened #234 "Support AppVeyor"
**Do you want to request a *feature* or report a *bug*?**

Feature.

**What is the current behavior?**

bundlesize isn't able to recognize the secure `BUNDLESIZE_GITHUB_TOKEN` variable set in `appveyor.yml`:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

The `appveyor.yml` example: https://github.com/sweetalert2/sweetalert2/blob/1c6ea81e1a6d9e80cdfb5be9ea52e

[2018-07-28 20:44] limonte commented on #234
I know this is in the TODO in README, but it's not possible to subscribe to that, this issue is for tracking the progress on the integration with AppVeyor. Everyone who is interested can click the "Subscribe" button and be notified via GitHub notifications.

[2018-08-01 13:47] pun4drunk opened #236 "Add CodeFresh CI support"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

CodeFresh CI is not supported

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

Would be great to add CodeFresh CI support

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mentio

[2018-08-02 12:53] pun4drunk commented on #53
What about master size comparisons? Using generated bundle names results each file not having an older version to compare

[2018-08-10 16:27] patrickkunkadazn commented on #207
Would also like this feature. My project outputs a UMD library bundle with other third-party libraries included inside. It would be great for us to be alerted when our bundle size increases or decreases significantly due to a library's size changing.

[2018-08-11 02:05] probablyup commented on #217
We'd love this functionality now that 4.0 is under active development for styled-components! We're using a non-master branch for it.

[2018-08-11 16:33] trevordmiller commented on #225
For example, right now I have an npm script that looks like this:

[code]

It would be nice if I could move all the config to a `.bundlesizerc.json` configuration file like:

[code]

Then the npm script could simply be:

[code]

[2018-08-22 11:42] harunurhan commented on #219
@siddharthkp is this still planned?

[2018-08-25 00:02] Aghassi commented on #225
Adding this should be very straight forward. https://github.com/davidtheclark/cosmiconfig can be added as a dependency, and it takes very few lines of code. @siddharthkp, I can take this on unless there is any objection to using this package.

[2018-08-25 01:05] trevordmiller commented on #225
That would be awesome. cosmiconfig is what many other tools use. Prettier, for example: https://prettier.io/docs/en/configuration.html

[2018-08-28 08:22] felixfbecker opened #240 "What does the bundlesize service need the commit message for?"
When run, in addition to bundle size, the tool sends the commit message to the public bundlesize service. This is not mentioned in the readme, and the upload happens automatically when the environment variables contain a `GITHUB_TOKEN`, without a flag to disable it. Many companies will not be comfortable with sending all their commit messages to a public service on every build. It's not obvious to

[2018-08-28 12:33] siddharthkp commented on #240
It's used for the `details` page.

It's not saved anywhere in the bundlesize store, but we can make it optional. It probably doesn't add a lot of value

<img width="774" alt="screen shot 2018-08-28 at 6 01 53 pm" src="https://user-images.githubusercontent.com/1863771/44723027-79f67980-aaec-11e8-8937-0e72efa4cac5.png">

[2018-08-28 13:10] felixfbecker commented on #240
Thanks for the response! I don't know how GitHub statuses work but how is it displayed on the details page if it's not stored?

I think it would be good if it was explained in the readme what data is sent and what is stored, for what purpose - by default one would assume only bundle sizes are sent.

[2018-08-28 17:14] siddharthkp commented on #240
We pass it query params, so it's stored in a github status

Example: [https://bundlesize-store.now.sh/build?info=%7B%22files%22%3A%5B%7B%22maxSize%22%3A...](https://bundlesize-store.now.sh/build?info=%7B%22files%22%3A%5B%7B%22maxSize%22%3A16384%2C%22path%22%3A%22.%2Fdist%2Fstyled-components.min.js%22%2C%22size%22%3A15595%2C%22compression%22%3A%22gzip%22%2C%22master%22%3A16648%7D%5D%2C%22repo%22%3A

[2018-08-28 17:15] #240 closed

[2018-08-28 19:50] agoldis commented on #53
@siddharthkp echoing @pun4drunk question - in my project (and usually) we have bundles generated with a hash suffix, so every build generates a new filename - when this awesome tool compares to the previous build, it is always `(-null)`

![screen shot 2018-08-28 at 12 48 50 pm](https://user-images.githubusercontent.com/1637928/44746967-c62bc480-aac0-11e8-931e-edde62fb3a1f.png)

May be it is suppor

[2018-08-30 09:56] mmahalwy commented on #53
Same here^

[2018-09-06 11:53] troubleFisher commented on #150
I have the same problem as you.
Do you have a solution?

[2018-09-06 13:04] felixfbecker opened #243 "Errors with npm v6"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`bundlesize` has `engines.npm` set to `^5.0.0`. This causes errors with npm v6:

![image](https://user-images.githubusercontent.com/10532611/45159038-00dedc80-b1e6-11e8-919e-4af8992fe4f7.png)

**If the current behavior is a bug, please provide the steps to reproduce.**

npm install

**What is the expec

[2018-09-19 09:16] denkristoffer opened #245 "Sudden 404: Not Found error"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Bundlesize returns "Could not add github status. 404: Not Found"

**Please mention other relevant information.**
We've been using bundlesize with Circle CI for months with no issues, but during the night between the 18th and the 19th of September something has broken. We're now getting the above error.

[2018-09-19 14:34] siddharthkp commented on #245
The usual suspects are:

- https://bundlesize-store.now.sh is down (it isn't)
- your GitHub token expired (you replaced it)
- your new token does not have access to add status (?)

GitHub error messages usually give a 404 instead of 401 in cases like this

I'd suggest checking if the token has access, and running bundlesize with `--debug` flag to see if spots one of the common problems

[2018-09-19 17:09] greenkeeper[bot] opened #246 "An in-range update of prettier is breaking the build 🚨"
## The devDependency [prettier](https://github.com/prettier/prettier) was updated from `1.14.2` to `1.14.3`.

🚨 [View failing branch](https://github.com/siddharthkp/bundlesize/compare/master...siddharthkp:greenkeeper%2Fprettier-1.14.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a devDependency of this pro

[2018-09-20 07:43] denkristoffer commented on #245
Running bundlesize with `--debug` gives me output ending with the following (after displaying all the chunk sizes:

[code]

Doesn't tell me much. Any ideas?

[2018-09-20 15:03] ssulivan11 opened #248 "Add External Package Sizes"
# Feature

Would like to be able to support externals or exclusion packages from the check. When inside things like a monorepo or a teams package where webpack is excluding packages, the duplications make the bundle look bigger than it actaully is. Especially when we have a lot of route based code spliting.

Proposal:
[code]

[2018-09-21 08:17] ssulivan11 commented on #225
Have a custom config setting in this PR:
https://github.com/siddharthkp/bundlesize/pull/212

In our monorepo we maintianed hundreds of individual bundles and the package.json got ugly 😊

[2018-09-26 04:12] vinhlh commented on #182
In my use case, the total value is not good enough.
![image](https://user-images.githubusercontent.com/261283/46056833-33487d80-c185-11e8-8de7-ce89e440306a.png)
Monitoring some specific files is really important, like entry script main.js, a small change but create a big change on its size (however, it's not higher the maxSize)

[2018-09-26 06:15] vinhlh commented on #224
Despite granted the permission, but I still have this same issue

![image](https://user-images.githubusercontent.com/261283/46060647-a1e20700-c196-11e8-8733-0187ddd85ae9.png)

[2018-09-28 03:19] roopakv opened #251 "[Feature Request] Allow Multiple checks per PR"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
right now if you have multiple files you are checking wiht bundlesize, only 1 check is added to a PR. would be nice to allow 1 per run on bundlesize.

If i run `bundlesize -f "dist/file_a.js` and then `bundlesize -f "dist/file_b.js` only file b is shown.

if i run `bundlesize` with both in my packa

[2018-09-28 13:20] siddharthkp commented on #251
Hi 👋 thanks for taking the time to file an issue

That's an intentional design decision to reduce noise, that's where the details page was born

Discussion here: https://github.com/siddharthkp/bundlesize/issues/55

[2018-09-28 13:20] #251 closed

[2018-10-06 19:21] PaulRosset opened #253 "Add Open-Mode to extends the possibilities of usages"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

The `Open-Mode` has the goal to extends the possibilities by using only the crucial information of the size of the build and nothing else, thus it permits to use this data to create a lot of other things and not only for a CI purpose in case of fail or success depending a `maxSize`.

**If the cur

[2018-10-18 17:29] bniwredyc opened #256 "Add support for config in a separate file (.bundlesizerc)"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
bundlesize can be configured by package.json section or CLI

**If this is a feature request, what is motivation or use case for changing the behavior?**
I have a pretty large package.json and I want to put libs' configs in separate files like .jestrc, .prettierrc, .eslintrc and so on. I want to do

[2018-10-28 14:01] Drapegnik opened #257 "TeamCity support"
**Do you want to request a *feature* or report a *bug*?**

feature

**Please mention other relevant information.**
- I'm using [TeamCity](https://www.jetbrains.com/teamcity/) CI

What should I implement to add support reports on TeamCity. I can make PR.

[2018-10-28 14:18] Drapegnik commented on #217
@jakebolam, @siddharthkp [@pvdlg/env-ci](https://github.com/pvdlg/env-ci) allow read `prBranch` for AppVeyor, CircleCI, Drone, Semaphore, Travis CI, Wercker and more

[2018-11-01 23:21] roopakv opened #261 "Allow support for node 10"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

can't install bundlesize if using node 10

**If the current behavior is a bug, please provide the steps to reproduce.**

- install node 10
- use bundlesize with node 10

**What is the expected behavior?**

Support node 10

**If this is a feature request, what is motivation or use case for changing th

[2018-11-13 19:23] ryancat opened #263 "Get package not exist issue for har-validator@5.1.2"
Bug

Install bundlesize will further install har-validator version 5.1.2 on its dependency. Currently there is an issue for that version https://github.com/ahmadnassri/node-har-validator/issues/113 which prevent us from running `npm install`.

- node version 8.11.1
- npm version 5.4.2
- Operating system Linux
- bundlesize 0.17.0
- CI you are using Bamboo

[2018-11-21 14:07] oliverviljamaa opened #264 "GITHUB_TOKEN is used instead of BUNDLESIZE_GITHUB_TOKEN when present"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
`GITHUB_TOKEN` environment variable (although undocumented) is used instead of `BUNDLESIZE_GITHUB_TOKEN` when present. This results in `bundlesize` checks being authored by the owner of `GITHUB_TOKEN` rather than the owner of `BUNDLESIZE_GITHUB_TOKEN` (causing the wrong avatar and issues with the mess

[2018-11-21 14:09] oliverviljamaa commented on #229
We are seeing similar behaviour.

[2018-11-26 20:47] cihati commented on #245
I have the exact same issue as @denkristoffer, any ideas @siddharthkp ? Using CircleCI.

Regarding

How do I check it? @siddharthkp

[2018-12-05 15:51] TimonVS commented on #208
Any update on this? I'd love to be able to use this with my `create-react-app` based application :)

[2018-12-11 15:57] diogoteix opened #266 "File gzip with wrong size"
**Do you want to request a *feature* or report a *bug*?**

Report a bug

**What is the current behavior?**

When using gzip files, with no compression method, files have different size than originals.

**What is the expected behavior?**

Files size should be read correctly.

[2018-12-17 18:39] victorhqc commented on #218
Is there any plans to fix this? According to google, the service will be shut down in [March 2019](https://developers.googleblog.com/2018/03/transitioning-google-url-shortener.html). Reading through the code, looks like the [shortener](https://github.com/siddharthkp/bundlesize/blob/master/src/shortener.js) has some hardcoded values for Google APIs.

Does it make sense to use environment variables

[2019-01-14 22:13] kbailles opened #271 "Is it possible to warn on max size reached instead of error?"
Sometimes I don't want the build to fail just because the limit was reached but I would like a warning to pop up.

[2019-01-15 15:38] #264 closed

[2019-01-16 02:09] marvinchin commented on #164
Is there still any interest in this issue? If there is, I'd like to take a shot at it!

[2019-01-16 05:09] siddharthkp commented on #164
Hi @marvinchin, the feature still makes sense but I don't think I'll be able to review and merge it anytime soon, so I wouldn't recommend jumping on it

[2019-01-18 10:03] alexlouden commented on #245
I'm having the same problem. I've done a bit of digging - I've run bundlesize locally with:

[code]

and I've added a line to `node_modules/github-build/index.js` to log the raw Github response:

[code]

I've checked the token's scope:

[code]

Does anyone know if this means that the token doesn't have permission to update the status?

[2019-01-18 10:38] alexlouden commented on #245
Thanks for the reply! I've authorised the bundlesize Github app, and I've tried selecting "All repositories" and just one repo, and I get the 404 either way. Anything else I can try or any other ideas?

[2019-01-18 11:39] siddharthkp commented on #245
It's difficult to debug from afar 😅

You might to run with the `--debug` just to make sure the tokens are read.

[2019-01-30 09:34] shprink commented on #236
Can we have an update on that? Is it going to be supported on Codefresh at some point or not at all?
thanks

[2019-01-31 08:39] joseluisq commented on #224
The same issue when I add more than one bundle:

[code]

![image](https://user-images.githubusercontent.com/1700322/52041854-e5c98c00-253b-11e9-9cd4-58a4d4f723b4.png)

[2019-02-06 22:24] tpbowden opened #275 "Requests to bundlesize-store are failing"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
Requests to `https://bundlesize-store.now.sh/build?info=<info here>` get a connection closed error from the server

![image](https://user-images.githubusercontent.com/1159553/52377825-eabb9d80-2a5d-11e9-8488-a2dc981ef0cd.png)

This happens for both new checks all old ones which used to work

**If the cu

[2019-02-07 03:55] siddharthkp commented on #275
Hi!

It's back up now

Do you have the full url to test?

[2019-02-11 10:33] tpbowden commented on #275
Hi @siddharthkp, thanks for the reply.

It doesn't seem to be an issue in all of our repos, just one of them. Here's an example URL:

https://bundlesize-store.now.sh/build?info=%7B%22files%22%3A%5B%7B%22maxSize%22%3A153600%2C%22path%22%3A%22.%2FbuildClient%2Fbootstrap.js%22%2C%22size%22%3A1568%2C%22compression%22%3A%22gzip%22%2C%22master%22%3A1568%7D%2C%7B%22maxSize%22%3A153600%2C%22path%22%3A%22.

[2019-02-11 19:57] tpbowden commented on #275
I realise now that url is totally ridiculous and I probably should split things up a bit

[2019-02-12 04:59] siddharthkp commented on #275
The url isn't your fault. I should use a better way to send this information 😅

But, it's probably breaking because it's longer than a url is allowed to be 🤔

[2019-02-12 10:14] tpbowden commented on #275
@siddharthkp this did work until recently - has anything changed on the server side which might be causing the issue? I don't think my browser is enforcing the limit.

Any thoughts on how else it would work? I guess you'd need somewhere else to store the JSON but that would probably cost money

[2019-02-12 10:46] siddharthkp commented on #275
nope.

What happens sometimes is: When the query param becomes too long, it gets clipped at the end. This makes the object incomplete and the parsing fails 😢

[2019-02-12 11:12] tpbowden commented on #275
I have a couple of ideas then:

* JSON.stringify -> gzipping with zlib -> base64 encoding the data, but that doesn't really solve the problem is just hides it

* Storing the JSON file as a CI artefact and having a link to that in the URL instead, but the logistics of doing this and being compatible with multiple CI providers could be quite large

[2019-02-12 11:38] siddharthkp commented on #275
It could definitely extend the size by a lot

Yep, storing it in a cloud datastore would be easier.

[2019-02-12 11:52] tpbowden commented on #275
Yeah you're right, I ran a quick test to see how much it would improve the URL I posted earlier:

[code]

Here's the script I ran:

[code]

Do you think this is a reasonable approach? If so I may have time to have a go at the weekend

[2019-02-12 12:15] siddharthkp commented on #275
Looks okay to me 🤔

You might have to run some hoops to maintain backward compatibility though

[2019-02-12 12:57] tpbowden commented on #275
I think we can probably use a new parameter and prioritise it over the old one, so old builds will still work

[2019-02-12 13:01] siddharthkp commented on #275
That works

[2019-02-13 12:19] zaccolley opened #277 "Codesponsor link at bottom of report broken"
**Do you want to request a *feature* or report a *bug*?**

Report a bug

**What is the current behavior?**

<img width="765" alt="screenshot 2019-02-13 at 12 16 53" src="https://user-images.githubusercontent.com/2591901/52711307-669b7580-2f89-11e9-81eb-331a471aa479.png">

**If the current behavior is a bug, please provide the steps to reproduce.**

Go to a report page and scroll to the bottom

**W

[2019-02-14 07:28] palashmon commented on #7
Closing this issue for now because it has not had recent activity. Thank you for your contributions.

[2019-02-14 07:28] #7 closed

[2019-02-14 07:31] #185 closed

[2019-02-14 07:32] palashmon commented on #22
Closing this issue for now because it has not had recent activity. Thank you for your contributions.

[2019-02-14 07:32] #22 closed

[2019-02-14 07:33] palashmon commented on #107
Closing this issue for now because it has not had recent activity. Thank you for your contributions.

[2019-02-14 07:33] #107 closed

[2019-02-14 19:27] delambo commented on #207
Here's another use case: If you're using webpack with aggressive bundle merging, it's nice to be alerted when a bundle size goes down so that you can reconfigure the `maxSize`.

[2019-02-15 06:14] palashmon commented on #142
Closing this issue for now because it has not had recent activity. Thank you for your contributions.

[2019-02-15 06:14] #142 closed

[2019-02-15 06:15] palashmon commented on #141
Closing this issue for now because it has not had recent activity. Thank you for your contributions.

[2019-02-15 06:15] #141 closed

[2019-02-15 06:16] palashmon commented on #161
Closing this issue for now because it has not had recent activity. Thank you for your contributions.

[2019-02-15 06:16] #161 closed

[2019-02-15 06:19] palashmon commented on #140
Closing this issue for now because it has not had recent activity. Thank you for your contributions.

[2019-02-15 06:19] #140 closed

[2019-02-15 06:20] palashmon commented on #179
Closing this issue for now because it has not had recent activity. Thank you for your contributions.

[2019-02-15 06:20] #179 closed

[2019-02-15 06:21] palashmon commented on #97
Closing this issue for now because it has not had recent activity. Thank you for your contributions.

[2019-02-15 06:21] #97 closed

[2019-02-15 06:22] palashmon commented on #177
Closing this issue for now because it has not had recent activity. Thank you for your contributions.

[2019-02-15 06:22] #177 closed

[2019-02-15 06:23] palashmon commented on #154
Closing this issue for now because it has not had recent activity. Thank you for your contributions.

[2019-02-15 06:23] #154 closed

[2019-02-15 06:29] siddharthkp opened #278 "Don't close old issues"
Let's not close issues because there is no activity on them.

cc: @palashmon

When it's good to close old issues: When there are comments is no response from the original poster after the maintainers got in touch

When it's bad to close old issues: When there is a pending action from the maintainers

[2019-02-15 06:38] #278 closed

[2019-02-15 06:49] palashmon commented on #278
Sorry about that. Will keep that in mind.

[2019-02-15 11:25] siddharthkp commented on #278
Thanks!

(I really appreciate you cleaning up the repo! Don't want to annoy someone who's issue I've been ignoring even more)

[2019-02-15 15:20] palashmon commented on #278
Yup, make sense. I was just trying to clean old issues dating back to 2017.

[2019-02-20 12:32] tpbowden opened #280 "PR Status check hangs on "Pending""
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Pull request status reporting occasionally gets stuck in the `Pending` status

![image](https://user-images.githubusercontent.com/1159553/53091968-5ea08000-350b-11e9-91b9-df141bb655f5.png)

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?*

[2019-02-20 13:26] siddharthkp commented on #280
Hey! Is the PR public, can you give me the link?

[2019-02-22 11:08] tpbowden commented on #280
Hey, I'm afraid not it's on a private repo. Is there any other info I can provide?

[2019-02-22 13:12] siddharthkp commented on #280
There must be some place where if failed in the CI logs.

It sets the pending status first and then updates it when the checks are completed.

[2019-02-23 22:50] flowzy opened #281 "File size miscalculation (with and without compression)"
**Do you want to request a *feature* or report a *bug*?**
Report a bug.

**What is the current behavior?**
Test task fails, because bundlesize miscalculates file size.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Clone [this repository](https://github.com/flowzy/r-thedragonprince)
2. Install dependencies, using Yarn (`yarn install`)
3. Run `yarn test` (it will

[2019-02-27 09:30] tpbowden commented on #280
I don't recall seeing any error logs on CI - I'll make sure and take a closer look at the output next time it happens.

[2019-02-28 11:59] tpbowden commented on #280
@siddharthkp It has just happened again for us and there are 100% no error logs from the `bundlesize` command

[2019-02-28 14:50] siddharthkp commented on #280
It's difficult to say what's up without debugging 😢

Can you add me as a temporary collaborator ?

[2019-03-05 18:42] pmkroeker opened #282 "npx bundle size cannot find module"
**Do you want to request a *feature* or report a *bug*?**
 Bug

**What is the current behavior?**
`npx bundlesize` throws the following message:
Cannot find module '$HOME\AppData\Roaming\npm\node_modules\bundlesize\index.js'

**If the current behavior is a bug, please provide the steps to reproduce.**
In the console enter `npx bundlesize`

My package.json contains this configuration:
[code]

**Wha

[2019-03-05 21:01] rsimha opened #283 "`npx bundlesize` prints numerous warnings on Linux"
This is the output of `npx bundlesize` on linux. I'd imagine something is missing in this project's `package.json`?

[code]

[2019-03-05 21:04] garmeeh opened #284 "Jenkins 422 error"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

During the Jenkins build I get the following error:

[code]

I know that you do not support Jenkins, but any insight on what might be causing the 422 would be great.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a featu

[2019-03-07 04:58] siddharthkp commented on #283
Umm not really.

Looks like the brotli package we use is not compatible with this flavor of unix 🤔

bundlesize 1.0.0 will make brotli optional

[2019-03-07 04:59] siddharthkp commented on #284
[code]

Maybe: This points to the chance that your github token isn't valid.

[2019-03-07 05:00] siddharthkp commented on #282
Weird, can you verify this works:

[code]

just to verify npx works correctly.

[2019-03-07 07:48] garmeeh commented on #284
🤔 I tried a couple of tokens just to be sure.

Also made sure access was allowed to the correct repo.

Is there anything else you can think of that might help with debugging?

[2019-03-07 11:04] siddharthkp commented on #284
Running bundlesize with `--debug` flag will confirm if it was able to read the token

[2019-03-07 11:55] garmeeh commented on #284
Thanks, I got:  ` WARN  token exists: true `

[2019-03-07 16:00] sdwvit commented on #280
+1 same here, deploys do not work because status is pending.

[2019-03-11 15:17] ryanwilsonperkin commented on #164
I'd also be interested in helping out with this once there's time available to review and merge it. We're interested in using bundlesize, but currently blocked by this because we use chunk hashes which are affected by this issue.

[2019-03-21 13:20] serima opened #286 "Migrate to CircleCI 2.0"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

The version of CircleCI used in this project is 1.0, so the build is not working properly already.

https://circleci.com/

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

CircleCI works fine.

**If this is a feature request, what is mo

[2019-03-22 23:53] limonte commented on #188
Same here, this issue should be tagged as critical https://travis-ci.org/kenwheeler/cash/builds/510054291

[2019-03-23 00:14] limonte opened #289 "Mind to add basic tests?"
If would be nice to have some basic tests to check that fundamental things like the correct exit code are not broken:

![image](https://user-images.githubusercontent.com/6059356/54859006-2d38f100-4d11-11e9-9f0f-3839a62ccf2d.png)

The golden rule of software development: if it's not tested, it's broken.

[2019-03-26 03:44] siddharthkp commented on #289
thanks, you're not wrong 😗

[2019-03-26 07:48] limonte commented on #289
Thanks, I know that :) Will you take some actions on this? I mean, `bundlesize` is broken and basically useless in CI (https://github.com/siddharthkp/bundlesize/issues/188#issuecomment-475818611) and the only way to fix it and prevent such issues in future is adding tests.

[2019-03-26 07:49] limonte commented on #289
If you need some additional info on the issue, let me know, but I think you can get everything you need for debugging from https://travis-ci.org/kenwheeler/cash/builds/510054291

[2019-03-26 10:51] siddharthkp commented on #289
yes

[2019-03-26 16:31] matmalkowski opened #290 "GitHub Enterprise support with custom API endpoint + rethinkdb as storage solution"
**Do you want to request a *feature* or report a *bug*?**
Request a feature
**What is the current behavior?**
Right now everything is github.com based + firebase. For self hosted enterprise github size comparison against master cannot be done.

**If this is a feature request, what is motivation or use case for changing the behavior?**

I would like to use it with our internal npm packages, that ar

[2019-03-26 16:48] vigneshshanmugam commented on #93
I opened a PR that will fix the issue on running bundlesize on NON CI environments #291

[2019-04-12 01:43] orisano opened #294 "chore: Update brotli-size version"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
`npm install` failed why tar has a vulnerability.

**If the current behavior is a bug, please provide the steps to reproduce.**
`npm install`

**What is the expected behavior?**
success.

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other

[2019-04-25 09:30] rpellerin commented on #294
Also, `brotli-size@0.0.1` depends on `iltorb": "^1.0.9"`, which is not compatible with NodeJS 12.

[2019-04-28 08:25] limonte opened #298 "vulnerable dependency (high severity)"
![image](https://user-images.githubusercontent.com/6059356/56861301-47b55880-69a8-11e9-98e0-3255d87ea1ca.png)

![image](https://user-images.githubusercontent.com/6059356/56861310-54d24780-69a8-11e9-999a-6e439e356cae.png)

[2019-05-01 13:05] rtymchyk commented on #281
Seeing the same issue. File size is doubled in multiple instances.

[2019-05-08 02:31] #294 closed

[2019-05-08 02:31] #298 closed

[2019-05-11 18:57] drwpow opened #303 "Node 12 support"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Running `npm i -D bundlesize` on Node 12 (`12.1.0`) results in the following error:

[code]

**Additional info**
I tried deleting my `~/.node-gyp` directory, and reinstalling, and still get the error when installing bundlesize.

I have a feeling `node-gyp@4.x.x` is required to run on Node v12, but not

[2019-05-15 15:07] anikethsaha opened #304 "Defaults values for files, maxSize and compression algorithm in cli"
**Do you want to request a *feature* or report a *bug*?**
feature, more like better if present.

**What is the current behavior?**
Currently, it does not have any default value except for the compression algorithm.

**If the current behavior is a bug, please provide the steps to reproduce.**
run the below command without having any config for bundlesize in `package.json`
` $ npx bundlesize `
This

[2019-05-15 15:57] anikethsaha commented on #304
PTAL at the [implementation](https://github.com/anikethsaha/bundlesize/blob/d1c55d283db391b7aabdb99c550e42741d495fd1/src/config.js#L33)

[2019-05-19 10:59] landvibe commented on #245
Same here with Circle CI

[2019-05-20 10:31] alexlouden commented on #245
I figured out the problem last week! I discovered the `bundlesize` app (at https://github.com/settings/applications) wasn't granted organisation access to the org the repo was in. Once I granted it access the error went away 🤦‍♂ 😀

[2019-05-21 02:29] siddharthkp commented on #298
Just published 0.17.2 with security patches

[2019-05-21 02:32] siddharthkp commented on #303
Hi 👋

Couldn't figure out what was wrong, but here's what worked for me:

1. remove `engine` restriction in `package.json` for `bundlesize's@0.17.0`

2. Followed the instructions here: https://github.com/npm/npm/issues/16556#issuecomment-299736206

[2019-05-21 06:59] denkristoffer commented on #245
@siddharthkp I don't think this issue should be closed, missing access was never the problem in my case.

[2019-05-21 15:13] nikilok opened #305 "Error running Bundlesize in Jenkins CI"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
I see this error message in the CI, when running bundlesize.
`

module.js:682

  return process.dlopen(module, path._makeLong(filename));

                 ^

Error: The module '/home/jenkins/workspace/<BRANCH NAME>/node_modules/iltorb/build/bindings/iltorb.node'

was compiled against a different Node.j

[2019-05-21 20:02] nikilok commented on #305
I figured out that the issue was that npm install was being done outside the jenkins build machine causing the node mismatch. Could solve the issue by doing an npm install inside the build pipeline.

[2019-05-21 20:02] #305 closed

[2019-05-22 01:34] lukelindsey commented on #303
@siddharthkp my guess it updating `brotli-size` is what did it given that it depends on `iltorb` which is what was failing in the above error message. Works for me now though, thanks!

[2019-05-22 07:22] siddharthkp commented on #303
Ah, that make sense. Great!

[2019-05-22 07:23] siddharthkp commented on #245
Oops, sorry. There was another sub-thread in between.

[2019-05-22 08:37] #246 closed

[2019-05-22 08:46] siddharthkp commented on #277
Removed the text in https://github.com/siddharthkp/bundlesize/commit/7bced6e6d8279e632fe7b3826bc20263093e1cbd#diff-c4b5d4a975caa9594c8f2232afd745dd, forgot to close this issue

[2019-05-22 08:46] #277 closed

[2019-05-22 08:53] siddharthkp commented on #263
Hi 👋

I believe `har-validator` is not part of the latest version. Feel free to comment back if you still face this problem

[2019-05-22 08:53] #263 closed

[2019-05-22 09:04] siddharthkp commented on #243
This is fixed now 👍

[2019-05-22 09:04] #243 closed

[2019-05-22 09:09] #157 closed

[2019-05-22 09:34] siddharthkp opened #306 "(work in progress) v1.0.0 Roadmap"
## (work in progress) come back in an hour

Hi 👋

I built bundlesize in June 2017 to solve a problem I had at the time.

Since then, it has become pretty popular. Here's are some crazy numbers:

- Bundlesize does about 50k builds every week
- 1.5M builds in it's lifetime (2 years)
- There are 10.8K public repositories (and unknown number of private repos 🤷‍♀) that have bundlesize as a dependency

[2019-05-22 09:40] siddharthkp commented on #306
#### Deeper GitHub integration

Right now, bundlesize requires a manual configuration with copy-pasting access tokens, which

1. Prevents some folks from using it (Don't know how to, Don't have access, admins don't allow, etc.)
2. Is very difficult to debug when it doesn't work.

Using GitHub Apps + Checks will solve both of these problems and allow us to use improved UX

Related issues: https://g

[2019-05-22 09:43] siddharthkp commented on #306
### Better configuration

bundlesize started with an array in `package.json`, this did not scale well 😅

We now have inconsistent support in `package.json` and the CLI (used with npx). One of the most popular request is to add a config file.

We can tackle all these problems with a common format over all 3 mediums (most probably using )

Related issues: https://github.com/siddharthkp/bundlesize/is

[2019-05-22 09:47] siddharthkp commented on #306
### Better error handling

Because bundlesize uses access token from environment variables, it can fail given any of these scenarios:

1. Token was not set correctly
2. Token does't have the correct permissions attached to it
3. Token expired
4. Incorrect parameters sent to GitHub for status

All of these scenarios result in a `404: Not Found error` in CI which is not helpful. (GitHub returns 404

[2019-05-22 09:49] siddharthkp commented on #306
### Remove false positives

Like any software, bundlesize has bugs. The scariest of them is when bundlesize should have failed but does not fail the build.

This stems from returning the wrong flag for a CI environment OR reading the file size incorrectly.

Related issues: https://github.com/siddharthkp/bundlesize/issues/188 https://github.com/siddharthkp/bundlesize/issues/229 https://github.com/s

[2019-05-22 09:52] siddharthkp commented on #306
### Support bundlesize in forks

In every CI system, forks don't get environment variables which makes a lot of sense. This also means bundlesize can't report on pull requests submitted to the source repository. (Basically, every external contribution to an open source project)

I don't have a solution yet, but we might have to think of alternate ways of reporting like comments

Related issues: ht

[2019-05-22 09:57] siddharthkp commented on #306
### Better reporting

bundlesize does an okay job at reporting when there are multiple files involved.

1. The messages in GitHub status should be better
2. Fix the `details` link when there are too many files

Related issues: https://github.com/siddharthkp/bundlesize/issues/182 https://github.com/siddharthkp/bundlesize/issues/208 https://github.com/siddharthkp/bundlesize/issues/164
https://github

[2019-05-22 09:57] siddharthkp commented on #306
### Make it easier to support more CI environments

Codefresh: https://github.com/siddharthkp/bundlesize/issues/236
Teamcity https://github.com/siddharthkp/bundlesize/issues/257
Sephamore https://github.com/siddharthkp/bundlesize/issues/176
AppVeyor https://github.com/siddharthkp/bundlesize/issues/234
GitLab https://github.com/siddharthkp/bundlesize/issues/19

[2019-05-22 10:00] siddharthkp commented on #306
### Plugin system to extend/tweak core functionality via plugins

Every once in a while there's a feature request (or even a pull request) that makes a lot of sense for the contributor and their team but doesn't sit well in bundlesize core.

Example: Add check for minSize; Warn instead of failing build

It would make a lot of sense if you can intercept bundlesize and use it's output to set the mes

[2019-05-22 10:08] siddharthkp commented on #306
Hi collaborators with push access!

Please, add a 👍 to the GitHub issue (first thing on top) if you are cool with bundlesize being part of the [Chrome Performance Fund](https://docs.google.com/forms/d/e/1FAIpQLSdwM-2Xw-HXa5fqT8MsGW7AsMv9KC1VEoprJtXxrwdH9_Q1_Q/viewform)

<img width="605" alt="Screenshot 2019-05-22 at 3 31 35 PM" src="https://user-images.githubusercontent.com/1863771/58166285-1c7011

[2019-05-22 10:17] karanjthakkar commented on #306
👏

[2019-05-22 10:32] Haroenv commented on #306
One thing which would make it a lot nicer too is if the comparison would be to the base branch on GitHub, since that way you get a pure diff

[2019-05-22 10:33] Haroenv commented on #306
Sometimes you want to compare *why* something changed, it would be nice to visually diff the two bundles somehow. This could be done by tracking the bundled files in git, but it’s not a nice solution

[2019-05-22 10:50] kuldeepkeshwar commented on #306
Support for Github Enterprise with a pluggable way to store stats

[2019-05-22 13:15] wardpeet commented on #306
I moved a few projects to https://github.com/GoogleChromeLabs/travis-size-report as I love the way how they report it. The downsize is that it's bound to travis-ci but it works in forks. Very cool that you're picking this up again.

[2019-05-22 18:07] ForsakenHarmony commented on #306
slight correction, `preact` currently doesn't use it anymore, because it didn't work for pull requests from forks 😕

[2019-05-23 03:36] siddharthkp commented on #306
@ForsakenHarmony removed 👍

[2019-05-23 07:28] njzjz commented on #306
I hope that bundlesize can support [GitHub Actions](https://github.com/features/actions).

[2019-05-23 08:59] mpgon commented on #280
Same here, running on CircleCI. Seems to happens seldom and randomly. The job passes successfully without errors (https://imgur.com/a/Gzc4iOo), so I'm guessing the problem is on the service side.

[2019-05-23 09:37] Haroenv commented on #280
Note that it seems like GitHub was partially down yesterday & today (I've been having error 500s here and there), so that is likely related

[2019-05-24 08:05] mpgon commented on #280
I've been experiencing this intermittently for over a month

[2019-05-24 10:14] siddharthkp commented on #280
Hi 👋

There are multiple reasons why this can happen, definitely needs some work.

Make sure you add your 👍 to the theme on v1 roadmap: https://github.com/siddharthkp/bundlesize/issues/306#issuecomment-494732986

[2019-05-24 16:21] austinpray commented on #202
These pastebin links are 404ing right now. Here is a 2019 update:

**If the current behavior is a bug, please provide the steps to reproduce.**
`docker run --rm -it node:12-slim npx bundlesize@0.16.0`
...which results in:

<details>
<summary>The following log</summary>

[code]

</details>

**What is the expected behavior?**
Successful install, like with 0.15.3

[2019-05-24 16:22] austinpray commented on #306
Wanted to make sure this issue didn't get buried: https://github.com/siddharthkp/bundlesize/issues/202

[2019-05-24 17:22] styfle commented on #202
Brotli is available in core since Node 11 https://nodejs.org/docs/latest-v11.x/api/zlib.html

[2019-05-25 05:32] siddharthkp commented on #202
@styfle There's great. That's going to help make it optional 🎉

[2019-05-31 16:19] XhmikosR commented on #261
@palashmon: this can be closed

[2019-05-31 18:48] #261 closed

[2019-06-06 21:26] tjefferson08 opened #308 "GET /values resulting in status code 500"
**Do you want to request a *feature* or report a *bug*?**

Bug 🐛

**What is the current behavior?**

When our Travis CI build runs `yarn bundlesize`, the size check against master fails and we get some http logs indicating a 500 error.

**If the current behavior is a bug, please provide the steps to reproduce.**
Here's the relevant section of the Travis CI build logs:
[code]

**What is the expecte

[2019-06-19 09:20] Rabinzon commented on #308
same error on circleci, very often in last time  :(((

[2019-06-19 13:34] siddharthkp commented on #308
Ugh, this is pretty horrible. Migrating to a different storage (shelf) is on my roadmap, haven't been able to get to it yet.

[2019-06-19 16:13] tjefferson08 commented on #308
@siddharthkp what's going on with the storage backend?

Does 500 mean... we're overwhelming the firebase app? Or is it a serialization/deserialization issue?

Could we try wiping the data for our repo and start from scratch?

[2019-06-19 22:49] blittle commented on #19
What's the status of this? Would it be worthwhile for me to jump in and try and implement it?

[2019-06-20 04:14] siddharthkp commented on #308
500 = It's unhandled. Could be either, honestly.

I don't think that will help. I will find some time to dig into this, soon-ish.

[2019-06-20 06:29] sumit-gupta91 commented on #306
Hi 👋,

When are we starting on this roadmap, I would like to contribute.

[2019-06-24 22:13] addyosmani commented on #306
I'm happy to share Chrome is donating $10,000 to support bundlesize's 1.0 roadmap 🎉  We think this project's goals align well with helping reduce the initial bundle size of modern web experiences.

In particular, we're excited to see the project explore the proposed work on:

1. Deeper GitHub integration - easier installation + new checks UX
2. Stability through better error handling and removing

[2019-06-25 06:25] mxstbr commented on #306
Yes yes yes yes yes :tada:

[2019-06-25 12:24] siddharthkp opened #309 "Work with create react app's output"
## Problem

As a create-react-app user, you don't know the name of the build files ahead of time.

You can use bundlesize's glob matching to get files

[code]

which matches an unknown number of files:

[code]

This can be fine tuned by a bundlesize config:

[code]

Which is okay, but, there are two problems with this approach overall:

1. Based on tribal knowledge, you either know where to look o

[2019-06-27 06:38] siddharthkp opened #310 "High level plan to use funds"
Context: We have [$10k of funding from the Chrome Performance Fund](https://github.com/siddharthkp/bundlesize/issues/306#issuecomment-505201605) to support bundlesize's 1.0.0 roadmap

After talking to a few folks who have more experience running a funded open source project, this is how I'm thinking of using the funds.

Having a small core team would lead better results than creating a bounty-styl

[2019-06-27 06:42] siddharthkp commented on #310
cc @stubbornella @addyosmani @SaraVieira @mxstbr @developit @hzoo Would love some feedback on this.

(these are the folks I reached out for permission to tag in issues about using funds)

[2019-06-27 06:50] mxstbr commented on #310
Strongly agreed!

Don't feel awkward about that, you deserve to be paid if you spend full-time working on this package while you could be making money. That's the whole point of funding people, get them to work on important packages like this full-time! (Addy, correct me if I am wrong on this)

I think it'd make sense to make sure these are the same people already working on the implementation (pr

[2019-06-27 07:06] siddharthkp opened #311 "Configure base to a branch other than master"
from @Haroenv: thing which would make it a lot nicer too is if the comparison would be to the base branch on GitHub (instead of always master), since that way you get a pure diff

[2019-06-27 07:20] siddharthkp opened #312 "Add sentry to log errors for backend!"
You'd imagine this was already in place, right?

well.

[2019-06-27 07:25] siddharthkp opened #313 "Make backend stable ☂️"
This is an umbrella ☂️ issue for the work to be done on the backend.

I wrote the original backend over a few days, it's help together with much duck tape and bandaids

Things to remember this time around:

- [ ] Error handling
- [ ] Database abstraction
- [ ] Ensure uptime (catch error + keep it running)
- [ ] Reference a build by it's commit hash, not a long json string

[2019-06-27 07:27] siddharthkp opened #314 "Validate token on build - report with correct error message"

[2019-06-27 07:30] siddharthkp opened #315 "Create a GitHub app"
Right now, bundlesize requires a manual configuration with copy-pasting access tokens, which

- Prevents some folks from using it (Don't know how to, Don't have access, admins don't allow, etc.)
- Is very difficult to debug when it doesn't work.

Using GitHub Apps + Checks will solve both of these problems and allow us to use improved UX

[2019-06-27 08:18] Haroenv commented on #311
relevant code I think is:

https://github.com/siddharthkp/bundlesize/blob/00c7d2261dd8821c7d07d69a53f5cb6da2c26923/src/reporter.js#L19

Here only the master size is persisted, but instead we need to either compute the size of the target branch, or save the state of every branch instead of only master.

Frontend it also requires some changes like changing master to target (or the name of the target

[2019-06-27 08:37] kuldeepkeshwar commented on #315
@siddharthkp I just create an app using probot at work. I can help 😊.

[2019-06-27 08:42] kuldeepkeshwar commented on #310
totally make sense

[2019-06-27 09:10] SaraVieira commented on #310
I think so too yes.

Honestly I think this makes perfect sense if you also wanna be motivated and make the time for it

I think all of this is very well thought out now we just need to recruit the humans 😂

[2019-06-29 12:35] siddharthkp commented on #256
Implemented in https://github.com/siddharthkp/bundlesize/pull/316 and published in 0.18.0 🎉

[2019-06-29 12:35] #256 closed

[2019-06-29 12:35] siddharthkp commented on #225
Implemented in https://github.com/siddharthkp/bundlesize/pull/316 and published in 0.18.0 🎉

[2019-06-29 12:35] #225 closed

[2019-06-29 12:36] siddharthkp commented on #206
Implemented in https://github.com/siddharthkp/bundlesize/pull/316 and published in 0.18.0 🎉

Check out [README for details](https://github.com/siddharthkp/bundlesize#configuration)

[2019-06-29 12:36] #206 closed

[2019-06-29 12:36] siddharthkp commented on #162
Implemented in https://github.com/siddharthkp/bundlesize/pull/316 and published in 0.18.0 🎉

Check out [README for details](https://github.com/siddharthkp/bundlesize#configuration)

[2019-06-29 12:36] #162 closed

[2019-06-29 12:37] siddharthkp commented on #173
Implemented in https://github.com/siddharthkp/bundlesize/pull/316 and published in 0.18.0 🎉

Check out [README for details](https://github.com/siddharthkp/bundlesize#configuration)

[2019-06-29 12:37] #173 closed

[2019-07-04 19:26] bolismauro commented on #308
Hi!
Any news on this? Is there a way to fix the problem or a workaround?

[2019-07-05 03:56] siddharthkp commented on #308
@bolismauro Are you seeing this error too?

(I'm working on a long term fix this month)

[2019-07-05 06:29] bolismauro commented on #308
Yes yesterday it didn't work but I just tried and It worked. No idea why

[2019-07-05 15:12] limonte commented on #308
Same here https://travis-ci.org/sweetalert2/sweetalert2/builds/554705140

![image](https://user-images.githubusercontent.com/6059356/60731543-7e7f9000-9f50-11e9-8ec3-d5613efc413f.png)

[2019-07-05 15:14] limonte commented on #289
Closing this issue, since tests were added in #318

Thank you @siddharthkp!

[2019-07-05 15:56] #289 closed

[2019-07-06 10:59] tyankatsu0105 opened #322 "Add option report-json"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
Report function does not exist.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
When run `npm run bundlesize --output-json`,
output `bundlesize-report.json`.

[code]
This option is always `exit code 0`.
So `--report-json` option is n

[2019-07-06 16:37] palashmon commented on #308
@limonte on a side note, please update the `sweetalert2` Travis config to refer to the `bundlesize` latest release `0.18.0` or you can also use `bundlesize@latest` so that you always have the current stable version and don't need to update `.travis.yml` for this.

[2019-07-08 07:47] limonte commented on #308
bumped `bundlesize` to `^0.18.0`, same result: https://travis-ci.org/sweetalert2/sweetalert2/builds/555643927

[2019-07-09 14:14] XhmikosR commented on #308
For what is worth, we too are seeing this on Bootstrap for quite some time now.

[2019-07-10 21:15] caleb15 commented on #308
Just installed bundlesize (0.18.0) and when I added BUNDLESIZE_GITHUB_TOKEN I got this error. I'm guessing it's a problem with the size difference calculation because the CI status check still works and we still get size details on the https://bundlesize-store.now.sh website.

Our CI message:

bundlesize — Total bundle size is 514.3KB/1.76MB (-null)

[2019-07-11 20:30] addyosmani commented on #310
I just wanted to say I'm very supportive of the current plan for how to use the funds.

I know there can be a stigma associated with package maintainers getting paid via these types of donations, but if you're significantly helping move the roadmap forward, you totally deserve to get compensated :)

[2019-07-19 15:45] Razaik25 commented on #223
Hi, is this issue available? Would love to take a shot at it.
Thanks

[2019-07-23 10:21] hugomrdias commented on #308
same here https://travis-ci.com/ipfs/js-ipfs/jobs/218558166#L415

[2019-07-25 21:44] gcoombe opened #326 "Absolute paths for config files don't work"
**Do you want to request a *feature* or report a *bug*?**

Report bug

**What is the current behavior?**

Due to how cosmicConfig is being used specifying an absolute path does't work. When specifying a `--config` arg the value is passed into [searchPlaces](https://github.com/davidtheclark/cosmiconfig#searchplaces). However this is meant to be a place that cosmicConfig looks at each level as it tr

[2019-07-25 21:44] gcoombe commented on #326
I can try and submit a PR but it seems like if we're specifying a config arg we should just treat it like a path and not use cosmicConfig. I'm not sure what we're attempting to gain with this dependency.

[2019-07-26 12:40] siddharthkp commented on #326
Verified: absolute path doesn't work because cosmic-config prepends the current directory to path

I was able to make `--config ../foo.config.js` work, check out the tests in https://github.com/siddharthkp/bundlesize/pull/327

[2019-07-29 12:38] RomanHotsiy commented on #308
Same here. It started 1 hour ago and restarting builds doesn't help: https://travis-ci.org/Redocly/redoc/builds/564951645

[2019-08-06 11:12] liorheber commented on #240
Hi, sorry for reviving an old issue.
Can I look into making this parameter optional?

[2019-08-06 18:27] thomaswelton opened #329 "Readme does not include CI env var"
**Do you want to request a *feature* or report a *bug*?**

Request an update to the readme

**What is the current behavior?**

Readme does not contain all the env vars required for bundlesize to work

**If the current behavior is a bug, please provide the steps to reproduce.**

Run the command locally without `CI=true`

**What is the expected behavior?**

Readme should contain all the info require

[2019-08-07 12:34] #329 closed

[2019-08-07 12:36] siddharthkp commented on #240
@liorheber I wouldn't want you to spend too much time on it, I'm rewriting the backend and will just skip this bit

[2019-08-07 12:38] liorheber commented on #240
Got it, thanks.
We're actually already on the beta branch, so looking forward to seeing this!

[2019-08-12 09:35] meetzaveri opened #331 "Support for codesandbox"
**Do you want to request a *feature* or report a *bug*?**
Actually if there is an existing feature, then how should it be accessed to perform test on codesandbox

**What is the current behavior?**
Perform testing in codesandbox is an ease way better than running npm server on local machine.

**If the current behavior is a bug, please provide the steps to reproduce.**
Not sure about if it's a bug

[2019-08-12 11:12] Haroenv commented on #331
Can you describe your workflow you have now, and how you'd like to see bundlesize as part of it? I'm not exactly sure what is missing now.

Do you want to see the final bundle size of a site you make on code sandbox which never ends up on GitHub?

[2019-08-13 03:13] meetzaveri commented on #331
I have simple App built in codesandbox. After installing bundlesize, I followed steps included in documentation. But that clearly states that if you are building app on local machine as if by doing `npm start`. But here the scenario is where codesandbox automatically runs scripts for us.

So how to run manual script for bundlesize in codesandbox environment ? Is there a way ? Or I can only perform

[2019-08-13 04:23] siddharthkp commented on #331
Ah, I understand your question now. When you're using the default react starter (create-react-app) on codesandbox, you don't have access to the terminal.

I haven't tried this but I think wrapping it in a test might just work (the default starter let's you run tests with jest)

This isn't something that is a core part of bundlesize's capabilities but I'd be keen to find a not-so-annoying workaroun

[2019-08-13 05:46] meetzaveri commented on #331
Yes exactly. I need an interface to run script (CLI probably).

Okay, so let me check wrapping test in jest. Haven't explored a jest yet.

If you want to see sandbox, here's the link - https://codesandbox.io/embed/competent-chaplygin-ir9im

[2019-08-13 06:52] Haroenv commented on #331
Note that codesandbox exclusively works in development mode, and doesn’t have an option to run in production mode, unless deployed to now or netlify. Where and when do you want to see the bundlesize output preferably ?

[2019-08-13 06:54] meetzaveri commented on #331
Specifically in development mode

On Tue, Aug 13, 2019, 12:22 PM Haroen Viaene <notifications@github.com>
wrote:

[2019-08-13 07:01] siddharthkp commented on #331
That's probably not what you'd want to measure? The dev build has a bunch of things that you wouldn't ship to users, so the size of that bundle isn't very useful

[2019-08-13 07:54] meetzaveri commented on #331
Yeah you're right. I got into misconception. Actually I need to check it into production mode. But is it necessary that I can only check it into production mode ? Can I aswell check into dev mode ?

[2019-08-13 07:56] siddharthkp commented on #331
bundlesize doesn't care as long as there is a persistent file, but again, I don't think that's of any use

[2019-08-13 08:13] meetzaveri commented on #331
Okay agreed. So what steps should I perform to check bundlesize for prod build in codesandbox ?

[2019-08-13 08:41] Spy-Seth commented on #158
I also run into this and I'm using Github actions as a CI. I didn't need the status check on my PR as already have the one from my CI job.

I see in one of you PR that you disable it. Could we have a release of the library ? :D

[2019-08-13 08:57] Haroenv commented on #331
My point earlier was that, codesandbox does not make a prod build, and thus it might not make sense to measure the output size there at all

[2019-08-13 11:00] siddharthkp commented on #158
@Spy-Seth Hey! I have removed this on the beta channel, if you're not using comparison with master, you can start using that: https://github.com/siddharthkp/bundlesize/pull/324

[2019-08-13 14:48] meetzaveri commented on #331
Okay. So it's like outer from scope of bundlesize capabilities ?

[2019-08-13 22:33] joma74 commented on #308
Me too on Travis
[code]

[2019-08-18 21:18] SilentImp commented on #19
Any updates?

[2019-08-20 05:12] zakuru opened #333 "Support of Asset Map in addition to the Path Parameters to Define the list of Files"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
Bundle Size supports only path parameter. Would be great to be able to provide the asset map file instead so that we can detect change in size per entry point for a better granularity.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If th

[2019-08-20 09:57] siddharthkp commented on #333
That sounds like a really good idea. I think the best way to implement would be as a "input" plugin.

When this plugin is used, it feeds an array of file paths instead of reading from the config.

(bundlesize doesn't support plugins yet, but it's on the roadmap)

What do you think?

[2019-08-28 20:08] zelmarou commented on #333
Hey thanks so much for the feedback.
I was thinking about implanting an additional parameter that would override the path parameter. What would be an input plugin ? I'm just not completely sure I understand the concept.

[2019-09-02 15:06] zelmarou commented on #333
@siddharthkp let me know what you think

[2019-09-03 07:59] XhmikosR opened #345 "Assorted TODO"
Here's a few things I'd personally like fixed (the order might matter for some things):

- [ ] Make it clear which Node.js versions are supported. CI fails for Node.js 6, but it seems it's a devDependency issue. Either way, we need to clear this up and make sure whatever CI we use runs on all supported Node.js versions
- [ ] We need lock files for both core and store
- [ ] We need to enable securi

[2019-09-04 09:47] siddharthkp commented on #333
I'm a little resistant to adding more flags.

It's not implemented yet so I don't blame you 😋 I'm working on a plugin system for bundlesize where you should be able to introduce code that's run before (input) or after (output) the main script in bundlesize. I'll make sure I document it properly once before I merge it 👍

[2019-09-06 12:39] petetnt commented on #303
When Node 8 is EOL we could update `brotli-size` which now requires Node 10 which would solve this for good (its still an issue)

[2019-09-06 12:47] siddharthkp commented on #303
@petetnt Makes sense

[2019-09-16 08:30] zaccolley commented on #308
If you have a similar issue can you please add a :+1: to the first post, people who are watching this thread for a response get notified so writing a comment that is the same as that isn't very useful

[2019-09-20 18:25] gr2m opened #348 "Not working on GitHub Actions?"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When running `npx bundlesize` in a GitHub Action, I get this warning:

**If the current behavior is a bug, please provide the steps to reproduce.**

See output log at See https://github.com/octokit/rest.js/runs/230268601#step:6:6

Configuration:

https://github.com/octokit/rest.js/blob/7e7319208b77cf

[2019-09-20 18:26] gr2m commented on #348
By the way I'm a maintaner at https://github.com/probot/probot and  the JavaScript/Node tools at https://github.com/octokit/, if you have any questions or ideas you would like to discuss regarding integrating with any parts of the GitHub APIs, I'm happy to help

[2019-10-14 11:26] Andarist commented on #348
It seems to work pretty OK with GitHub Actions for me - https://github.com/redux-saga/redux-saga/pull/1952 . Still need to figure out few things regarding actions, but bundlesize's setup is not a problem for me there.

[2019-10-18 08:40] jackyef commented on #348
@Andarist From what I see in your repo, the `bundlesize` cli is making request to the bundlesize server, but it is getting 500 error response. Is that an expected thing? I am facing the same trouble when on my repo: https://github.com/jackyef/bundlesize-gh-action/pull/1

[2019-10-18 22:14] Andarist commented on #348
@jackyef where you can see the error? That branch is currently having problems with test script and it doesn't reach the bundlesize step. When it did reach it in the past I haven't seen any problems - the check was green, size reported etc.

[2019-10-19 04:33] jackyef commented on #348
@Andarist It is in the last successful (green-checked) action.

https://github.com/redux-saga/redux-saga/commit/8a6bad5628ac4581256b3433a993568b9879f62f/checks?check_suite_id=263713967

[2019-10-19 07:04] Andarist commented on #348
Interesting - this one https://github.com/redux-saga/redux-saga/commit/a91fe2e6aef8a9bc532e2711b65992e9bc0a59cb/checks?check_suite_id=263313078 has errored OK on the bundlesize check and I remember seeing the status under my PR.

Currently, I'm having problems with yarn/npm running with different node paths - that's why I haven't merged in that PR yet, but gonna look into fixing this and maybe the

[2019-10-19 07:14] jackyef commented on #348
Hmm, okay so it did work for you. I thought it was a case of a bad implementation in my part.

Now, I assume that the server (https://bundlesize-store.now.sh/) is currently having issue?

cc: @siddharthkp